[2019-06-28 08:48] fhussonnois opened #1 "Cannot redefine a grok pattern twice"
Currently, it is not possible to overload a pattern definition.

For example, this definition leads to the exception : `java.lang.IllegalStateException: Duplicate key JAVACLASS (attempted merging values (?:[a-zA-Z$_][a-zA-Z$_0-9]*\.)*[a-zA-Z$_][a-zA-Z$_0-9]* and (?:[a-zA-Z0-9-]+\.)+[A-Za-z0-9$]+)`

[code]

[2019-06-28 08:52] fhussonnois opened #2 "Add JoinFilter"
The connector should propose a built-in filter to join elements of an array into a string value using a configurable separator

[2019-06-28 08:53] fhussonnois opened #3 "Add DateFilter"
The connector should propose a built-in filter to parse Date into a unix timestamp.

[2019-06-28 10:24] fhussonnois opened #4 "Add simple FileInputReader for creating a single record from a file"
The connector should provide a reader for sending an entire file into Kafka as a single record. However, this reader should be only used for small files (at most 1 MB).

[2019-08-23 09:08] #3 closed

[2019-08-23 09:59] #2 closed

[2019-08-26 11:56] fhussonnois opened #7 "NPE when no filter is configured"
`java.lang.NullPointerException
	at io.streamthoughts.kafka.connect.filepulse.filter.DefaultRecordFilterPipeline.apply(DefaultRecordFilterPipeline.java:118)
	at io.streamthoughts.kafka.connect.filepulse.filter.DefaultRecordFilterPipeline.apply(DefaultRecordFilterPipeline.java:91)
	at io.streamthoughts.kafka.connect.filepulse.source.DefaultFileRecordsPollingConsumer.next(DefaultFileRecordsPollingCo

[2019-08-26 11:58] fhussonnois opened #8 "Configuration 'filters' should be optional"

[2019-08-26 12:19] #7 closed

[2019-08-26 21:13] #8 closed

[2019-08-27 20:09] fhussonnois opened #10 "Add a new reader to support Avro format"

[2019-08-27 20:16] #10 closed

[2019-10-03 12:53] fhussonnois opened #12 "Add a default reader for XML files which accept an XPath expression"

[2019-10-03 12:56] #12 closed

[2019-12-19 13:52] fhussonnois opened #13 "The files can be stuck in processing state if a task failes while serializing connect data"

[2019-12-19 13:54] fhussonnois opened #14 "XMLFileInputReader does not return any record"

[2019-12-19 13:58] fhussonnois opened #15 "Add method to define the name of a schema"

[2019-12-19 14:37] #14 closed

[2019-12-19 14:39] #15 closed

[2020-01-10 15:12] Vesli opened #16 "mvn clean package - test fails"
I cloned the repo, ran `mvn clean package` and had this error:

[code]

` connect-file-pulse-plugin/target/surefire-reports for the individual test results. ` this file doesn;t exist

[2020-01-10 15:30] Vesli commented on #16
Ok nevermind, if you do not follow the "getting started" but go right through the doc (paragraph above getting started on the README) you find this: `mvn clean install -DskipTests`

[2020-01-10 15:30] #16 closed

[2020-01-10 16:16] Vesli opened #17 "NoClassDefFoundError: io/streamthoughts/kafka/connect/filepulse/offset/OffsetManager"
Hello,

So after downloading and running `mvn clean install -DskipTests` I wanted to test your plugin locally following this configuration:

[code]

alongside my local kafka.

Thus, on a naive and simple step I ran:
`bin/connect-standalone.sh config/connect-standalone.properties config/kafka-connect-file-pulse.conf`

but this returns the following error:

[code]

on the folder for my plugin.path I

[2020-01-10 17:33] fhussonnois commented on #17
Hi, you should try to run `mvn clean package -DskipTests`, then you can install the plug-in generated into connect-file-pulse-plugin/target/components/packages/streamthoughts-kafka-connect-file-pulse-1.3.0-SNAPSHOT.zip

The generated component follows the Confluent specifications, so you can installed it using `confluent-hub`.

[2020-01-19 17:53] mh-github opened #18 "Build Failure"
[INFO] Running io.streamthoughts.kafka.connect.filepulse.source.SourceMetadataTest
[ERROR] Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.013 s <<< FAILURE! - in io.streamthoughts.kafka.connect.filepulse.source.SourceMetadataTest
[ERROR] shouldCreateSourceMetadataGivenFile(io.streamthoughts.kafka.connect.filepulse.source.SourceMetadataTest)  Time elapsed: 0.001 s  <<< FAILURE!
j

[2020-01-19 22:04] fhussonnois commented on #18
Please, could you provide information about your execution environment (java, maven, OS) ?

Thank you.

[2020-01-20 06:11] mh-github commented on #18
OS = Windows 10
I run my commands in Cmder window.

λ java -version
java version "11.0.6" 2020-01-14 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.6+8-LTS)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.6+8-LTS, mixed mode)

λ mvn --version
Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
Maven home: C:\ProgramData\chocolatey\lib\maven\apache-maven-3.6.3\bin\..
Java version

[2020-01-20 14:34] fhussonnois commented on #18
Thank you, currenlty kafka-connect-file-pulse is not tested under Windows environment.

I've just merge a fix for the test that was failing. Now, you shoud be able to build te project.

If you find any new build issue a recomand to skip the tests on Windows: `mvn clean package -DskipTests`

Thanks to close this issue if the problem is fixed.

[2020-01-20 20:56] mh-github commented on #18
Some tests are failing
[ERROR] Tests run: 38, Failures: 14, Errors: 0, Skipped: 0

But with -DskipTests the project builds fine.

[2020-01-20 20:56] #18 closed

[2020-02-03 23:09] dinegri opened #19 "SSL Support"
Hello

Thank you for your amazing project.

I have a kafka cluster using ssl enabled, I tried to configure kafka-connect-file-pulse using ssl, but I am not able to configure properly, I got an error message about describe metadata from a topic. I am wondering if it is a issue related to ssl suport

I did not find anything about ssl suport in documentation. Is it possible to use kafka-connect-file-

[2020-02-04 09:22] fhussonnois commented on #19
Hi @dinegri, could you share your configurationn(without keyspassword) ?

Yes, connect-file-pulse works with SSL. However, this connector uses an internal topic to synchronize tasks and connector. So you have to configure SSL for both internal producer and consumer. For doing this,  you have to specifiy the kafka client properties for SSL prefixed with :

`internal.kafka.reporter.consumer.` and  `

[2020-02-05 22:09] dinegri commented on #19
Hi @fhussonnois, I followed your suggestion and it  worked perfectly.

Thank you very much

[2020-02-05 22:09] #19 closed

[2020-04-03 15:57] SteveGit007 opened #20 "Disable recursive scan of folders"
Have a possibility to disable recursvice scan of folders via a config parameter

[2020-04-09 22:06] fhussonnois commented on #20
Hi @SteveGit007, sorry for the late reply.

Currenlty, this is not possible to disable recursive scan but we can work on it.

Depending on your need, you can implement the interface [`FSDirectoryWalker`](https://github.com/streamthoughts/kafka-connect-file-pulse/blob/master/connect-file-pulse-plugin/src/main/java/io/streamthoughts/kafka/connect/filepulse/scanner/local/FSDirectoryWalker.java) and c

[2020-04-28 06:52] LeonardoBonacci opened #21 "Incomplete documentation on DelimitedRowFilter.separator"
In order to support the most popular delimited format - csv - the default delimiter (separator property) is ;

We're dealing with a pipe '|' separated format file. My initial attempt was to take/change your music example and alter the separator-character, like this filters.ParseDelimitedRow.separator": "|"

This doesn't work and creates unexpected results. Reason - as you'll probably know - is tha

[2020-04-28 21:42] LeonardoBonacci opened #22 "internal.kafka.reporter.cluster.bootstrap.servers cannot connect to Confluent Cloud"
We use a quite common infrastructure for our Kafka ecosystem: the Kafka brokers + schema registry are hosted in/by Confluent Cloud, and we host the Kafka Connect cluster ourselves. All this works well when the Kafka Connect cluster is configured properly: ssl, api-keys, etc.

We are investigating whether to use kafka-connect-file-pulse connector for file reading. It seems to work well on a local K

[2020-04-28 21:58] LeonardoBonacci opened #23 "Two errors using DelimitedRowFilter.columns"
First minor issue is the documentation of DelimitedRowFilter.columns stating: _Define the list of column names in order they appear in each row. columns must be in the form of TYPE:NAME_. **This should be _NAME:TYPE_.**

Also, with just this line of documentation - and without inspecting the source code - it is hard to discover that the column definitions must be separated by a ';'

Now the second

[2020-04-28 22:11] fhussonnois commented on #22
Hi @LeonardoBonacci , maybe this issue can help you #19 .

The ConnectFilePulse uses an internal topic to synchronize the tasks and the connector instance. For doing this, it creates a dedicated producer/consumer instance.

Unfortunately (but for security purpose) a connector cannot get access to the worker config. So you also have to configure the internal producer/consumer for the connector.

[2020-05-14 19:43] macteja opened #24 "File Pulse Source Connector Unable to setup"
Hello Team,

I am trying to setup the FilePulseSourceConnector in my environment to test the local files sent to kafka topic, but by following the procedure creating the connector, unfortunately it is not allowing to setup the connector,

Below is the configuration of a connector,

{
"name": "FilePulseSourceConnector",
"config": {
"connector.class": "io.streamthoughts.kafka.connect.filepulse.sourc

[2020-05-15 07:41] fhussonnois commented on #24
Hi @macteja, could you give me the version of the connector you are trying to execute ?
Also, how did you install it (i.e confluent-hub, github tarball release , compile source code) ?

Thanks,

[2020-05-15 07:49] fhussonnois commented on #22
Hi @LeonardoBonacci did you solve your problem? If so, can you close the issue? If not, how can I help you?

[2020-05-20 20:49] dmarupov opened #25 "KafkaException: Could not instantiate class"
Hello,
I am trying to setup File Pulse for the first time. I have a distributed Kafka with three workers running and I was successful at using the default Java FileStreamSourceConnector. But when I try to start the File Pulse connector I keep getting the following error:
{
    "name": "file-pulse-connector",
    "connector": {
        "state": "FAILED",
        "worker_id": "my.ip.address:8085",

[2020-05-20 21:52] fhussonnois commented on #25
Hi @dmarupov , could you tell me how did you install connect-file-pulse ?

It seems that the `LocalFSDirectoryWalker` cannot be instantiated because of a missing class `org.apache.commons.compress.archivers.tar.TarArchiveInputStream`. This can be due to a library version collision between ConnectFilePulse and Kafka Connect.

Plugins should be installed into a directory configured with the Kafka Co

[2020-05-20 22:05] dmarupov commented on #25
Hi @fhussonnois.
I downloaded the ZIP file from Confluent. Then I unzipped it and copied it to the same machine where my Kafka is running in the filepath ../Downloads/streamthoughts-kafka-connect-file-pulse-1.2.1
I also added that filepath: ../Downloads/streamthoughts-kafka-connect-file-pulse-1.2.1 to the plugin.path=../Downloads/streamthoughts-kafka-connect-file-pulse-1.2.1 in my distributed conn

[2020-05-20 22:09] dmarupov commented on #25
Also to clarify, my Kafka path is ../User/Kafka
and the filepulse is sitting at ../User/Downloads/streamthoughts-kafka-connect-file-pulse-1.2.1
In case if it matters.

[2020-05-20 22:34] fhussonnois commented on #25
Ok its seems the connector actually has a dependency on commons-compress which is not included in the lib directory.

Could you download that Jar : https://mvnrepository.com/artifact/org.apache.commons/commons-compress/1.20 and add it to the `./streamthoughts-kafka-connect-file-pulse-1.2.1/lib directory ` ?

If that work I will push a bugfix release. Thanks

[2020-05-20 22:57] dmarupov commented on #25
Awesome thanks @fhussonnois. The error for the missing file but now I get a different error. Should I submit a separate issue for that?

Thanks again.

[2020-05-20 23:09] fhussonnois commented on #25
Please, submit a new issue. I close this one when providing a bugfix.

Thanks

[2020-05-20 23:19] dmarupov opened #26 "Error while starting connector"
I am trying to get the File Pulse Connector started and I am getting the following error:

[2020-05-20 18:14:30,911] INFO ConnectorConfig values:
        filters = []
        fs.cleanup.policy.class = class io.streamthoughts.kafka.connect.filepulse.clean.LogCleanupPolicy
        fs.scan.directory.path = /mnt/kafkashared/
        fs.scan.filters = []
        fs.scan.interval.ms = 10000
        fs.s

[2020-05-21 09:51] macteja commented on #24
Hello @fhussonnois
Thanks for quick reply, now i was able to to start and send local files to kafka topic.
Had one question like, can we take specific file from the path?

Thanks,
Mac

[2020-05-21 12:37] fhussonnois commented on #24
Hi @macteja, I think the documentation is not very clear about how to filter input files (I will work on the documentation soon).

File Pulse scans the input directory specified through the property `fs.scan.directory.path`. You can configure and even implement a [FileListFilter](https://github.com/streamthoughts/kafka-connect-file-pulse/blob/e1e1685a9af1607862399db0dd0ff8a9feff8642/connect-file-p

[2020-05-21 12:43] #25 closed

[2020-05-21 14:34] macteja commented on #24
Thank you @fhussonnois ,

I will try above and let you the output.
One more quick question, Is there any way to connect to remote host/vm to fetch files and ingest to kafka topic near to realtime?

Thanks
Mac

[2020-05-21 15:13] fhussonnois commented on #24
Unfortunately this is not possible. You should use another solution to retrieve files (e.g rsync, ftp, etc) or you can mount your remote volume to the host running the connector using SAN or NAS.

[2020-05-21 15:54] macteja commented on #24
@fhussonnois i will look into your possible options & update any.
I have tested the flow for particular one and good with it.
Adding my config here for your review and any one can use this as a sample if they looking.

{
  "name": "FilePulseSource",
  "config": {
  "connector.class": "io.streamthoughts.kafka.connect.filepulse.source.FilePulseSourceConnector",
  "fs.scanner.class": "io.streamthough

[2020-05-21 16:40] dmarupov commented on #26
I was able to solve this issue by replacing my internal.kafka.reporter.topic from "connect-distributed-status" to "connect-file-pulse-status".  The topic: "connect-distributed-status" is what I had created for my default Kafka Connect. Not sure if internal.kafka.reporter.topic needs to be its own topic?

[2020-05-21 16:44] dmarupov opened #27 "Files are not being processed when more records are added"
I have a file pulse connector running and it is processing the files when I initially start the connector. But after the initial processing, I am manually adding more data into the file and at this point it is not being processed. Is this normal or expected? If so, is there a way to change.configure it so that everytime there is a new data added to the file it is processed near real-time?

Thank y

[2020-05-21 19:03] macteja commented on #24
@fhussonnois could you please help me on fixing below error,
as i am created the connector with above comment config, but connector is in FAILED state, but still task is running fine and sending metrics to kafka topic.

"trace": "java.lang.IllegalStateException: Cannot init again.\n\tat io.streamthoughts.kafka.connect.filepulse.storage.KafkaStateBackingStore.start(KafkaStateBackingStore.java:94)\n

[2020-05-21 22:08] fhussonnois commented on #26
@dmarupov the connector uses its own internal topic for reptoring issue so you should never configure the `internal.kafka.reporter.topic` with the status topic used by your Connect Worker

[2020-05-21 22:20] fhussonnois commented on #24
This actually a known issue. The connector initializes a singleton in the JVM (`KafkaStateBackingStore`) per `internal.kafka.reporter.id` to track the progression of each file. When the connector is stopped properly the  `KafkaStateBackingStore` is closed.

However, if you don't succed to start the connector at first and the connector crashes abruptly then you will have memory leak. The connector

[2020-05-21 22:25] fhussonnois commented on #26
Also, regarding your first message this actually a known issue.

The connector initializes a singleton in the JVM (`KafkaStateBackingStore`) per `internal.kafka.reporter.id` to track the progression of each file. When the connector is stopped properly the `KafkaStateBackingStore` is closed.

However, if you don't succed to start the connector at first and the connector crashes abruptly then you wi

[2020-05-21 22:28] fhussonnois commented on #27
First, you can consume the internal topic configured using the property `internal.kafka.reporter.topic` to see if you file is considered `COMPLETED` or not.

Secondly, the `RowFileInputReader` can be configured to wait for more bytes. Try to configure the property :

* `read.max.wait.ms` : Maximum time to wait in milliseconds for more bytes after hitting end of file.

[2020-05-22 05:57] macteja commented on #24
@fhussonnois valuable information and worked exactly as mentioned.
This should not happen in production. It means any other suggestion not to get in to this kind of situation?
Production it is difficult to perform whatever you mentioned 2 tasks as frequently & memory leak can cause of hung the system.

If possible can you update insights about below question,
Does it support multiple source paths

[2020-05-22 10:08] fhussonnois commented on #24
The problem should not happen in production because this is due to an exception happening while initializing the connector (but of course, we should 'never say never').

Hence, I will work on a fix to reduce the risk of that on the next release.

Regarding your questions, currently you can't configure multiple source paths. You should deploy one connector per input directory.

[2020-05-22 10:18] macteja commented on #24
Ok.. Thanks @fhussonnois for info & confirming the fix status too.
Yes, got your point, If possible can you take this in next release implementation?

Today i am facing again diff issue like,  connector "state": "RUNNING", but task is not going run and it keeps on "state": "UNASSIGNED", only.

Actually i have paused the connector for some extent and resume the operation, later started state is goi

[2020-05-22 16:21] dmarupov commented on #26
Thank you for the clarification.

[2020-05-22 16:21] #26 closed

[2020-05-22 20:39] fhussonnois opened #28 "The connector fails with an IllegalStateException when is restarted after a first crash while starting"
trace": "java.lang.IllegalStateException: Cannot init again.\n\tat io.streamthoughts.kafka.connect.filepulse.storage.KafkaStateBackingStore.start(KafkaStateBackingStore.java:94)\n\tat io.streamthoughts.kafka.connect.filepulse.scanner.LocalFileSystemScanner.(LocalFileSystemScanner.java:152)\n\tat io.streamthoughts.kafka.connect.filepulse.source.FilePulseSourceConnector.start(FilePulseSourceConnecto

[2020-05-22 20:55] #28 closed

[2020-05-22 21:38] #20 closed

[2020-05-22 22:07] fhussonnois commented on #24
Okay, I think I was able to reproduce the problem. I will push a fix as soon as possible.

[2020-05-23 15:04] fhussonnois opened #29 "FilePulse SourceConnector does not restart avec connector being pause and resume"

[2020-05-23 16:56] fhussonnois opened #30 "Update Apache Kafka dependencies to most recent version"

[2020-05-23 21:45] #29 closed

[2020-05-23 21:45] #30 closed

[2020-05-23 23:14] fhussonnois opened #31 "DelimitedRowFilter should not use the user-defined separator to split the configured list of colums definition"
This issue is explain in #23

We should always use a comma to split the columns definition.

[2020-05-23 23:17] #21 closed

[2020-05-23 23:17] #23 closed

[2020-05-23 23:17] #31 closed

[2020-05-24 19:54] LeonardoBonacci commented on #22
Hi there! Thanks for you inquiry. We've ended up using the spooldir connector. It covered the functionality required for our simple use case.
I hereby close the ticket.

[2020-05-24 19:54] #22 closed

[2020-05-24 21:52] mohai-kafka opened #32 "SASL_SSL Support"
Very good connector. We are using Confluent cloud and it support SASL_SSL. I am not seeing any reference in document. Can you let me know is this connector support SASL_SSL if yes can you provide implementation reference.

Thanks in advance.

[2020-05-24 22:40] fhussonnois commented on #32
Hi @mohai-kafka, Yes this answer should help you : https://github.com/streamthoughts/kafka-connect-file-pulse/issues/19

[2020-05-24 22:46] mohai-kafka commented on #32
Thanks for your response. We configure following way from java. Samething need to do it in connector configuration?

bootstrap.servers=XXXX:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule   required username="{{ CLUSTER_API_KEY }}"   password="{{ CLUSTER_API_SECRET }}";
ssl.endpoint.identification.algorithm=https
sasl.mechanism=PLAIN

[2020-05-25 08:35] fhussonnois commented on #24
Hi @macteja, the release is available : https://github.com/streamthoughts/kafka-connect-file-pulse/releases/tag/v1.3.0 . You can download the new version from the release page.

Could you please close this issue if all you problems are resolved.

Thank you.

[2020-05-25 08:37] fhussonnois commented on #32
Connect File Pulse uses an internal topic to synchronize the Connector instances and Tasks. You have to configure the producer/consumer that are internally created by the connector. To do that you have to duplicate your security configuration with that prefixes :

* `internal.kafka.reporter.consumer.`
* ` internal.kafka.reporter.producer.`

[2020-05-26 08:00] macteja commented on #24
Thanks @fhussonnois , for your quick response with fix. appreciate your efforts..

I am installing through below hub command
confluent-hub install streamthoughts/kafka-connect-file-pulse:1.3.0

If possible could you please confirm above will work? & can you update to confluent team to update there page with latest info, so that other can use latest one.

I will test once 1.3.0 version and update t

[2020-05-26 08:20] fhussonnois commented on #24
Hi @macteja , currently you can't install it via Confluent Hub because the new version is not available yet. I'm still waiting for the confluent team. However, you can download the new version here https://github.com/streamthoughts/kafka-connect-file-pulse/releases/tag/v1.3.0

Then you can use the `confluent-hub` CLI to install the downloaded zip file.

[code]

[2020-05-26 19:58] mohai-kafka commented on #32
That works. Thanks for your help.

[2020-05-26 19:58] #32 closed

[2020-05-26 20:03] mohai-kafka opened #33 "well-formed error"
When i read XML file using pulse connector i am getting following error.

 ERROR Error while processing source file '[name='Sample_Member_Enrollment_Status_File-3.xml', path='/opt/kafka/confluent/tmp', size=1681, lastModified=1590085242000, inode=5097008, hash=1839052428]' (io.streamthoughts.kafka.connect.filepulse.source.KafkaFileStateReporter:118)
io.streamthoughts.kafka.connect.filepulse.reader

[2020-05-26 20:09] mohai-kafka commented on #33
I think XML content is missing. Below.

<?xml version="1.0" encoding="utf-8"?>
<Members>
 <Member xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Hicn></Hicn>
    <PlanName></PlanName>
    <MemberLastName></MemberLastName>
    <MemberFirstName></MemberFirstName>
    <AppId></AppId>
<Member>
<Members>

[2020-05-26 20:12] mohai-kafka commented on #33
"\<?xml version="1.0" encoding="utf-8"?>
\<Members>
 \<Member xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  \<Hicn></Hicn>
  \<PlanName></PlanName>
 \<MemberLastName></MemberLastName>
 \<MemberFirstName></MemberFirstName>
 \<AppId></AppId>
\</Member>
\</Members>"

[2020-05-26 21:18] fhussonnois commented on #33
Hi @mohai-kafka, could you tell me which FilePulse connector version you are using ?

[2020-05-26 21:23] mohai-kafka commented on #33
streamthoughts-kafka-connect-file-pulse-1.2.1.

I changed my XML and xpath now i am not seeing error but i am not getting any message in my destination topic.

XML is
\<?xml version="1.0" encoding="UTF-8"?>
\<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.spri

[2020-05-26 21:30] fhussonnois commented on #33
Ok, the `XMLFileInputReader` has an issue in 1.2.1 that should be resolved in more recent versions.
Could you installed FilePulse Connector 1.3 from : https://github.com/streamthoughts/kafka-connect-file-pulse/releases/tag/v1.3.0

You can use the confluent-hub CLI to install the downloaded zip file.

[code]

[2020-05-26 21:48] mohai-kafka commented on #33
I applied new version still i am not getting message in my destination topic. internal status topic message bellow.

{"metadata":{"name":"new3.xml","path":"/opt/kafka/confluent/tmp","size":478,"lastModified":1590525169000,"inode":5097033,"hash":1850816250},"offset":{"position":-1,"rows":0,"timestamp":1590529322828},"status":"SCHEDULED","props":{"hostname":"ip-10-136-132-222"}}
{"metadata":{"name":

[2020-05-26 22:21] fhussonnois commented on #33
Does an exception occurred while processing the files ?Did you try to configure the `xpath.expression` to `//beans/bean[1]` ?

[2020-05-26 22:24] fhussonnois commented on #33
Could you share me an XML file sample to investigate your problem ?

[2020-05-26 22:28] mohai-kafka commented on #33
There is no error. yes I tried above xpath expression also.

My xml is

\<?xml version="1.0" encoding="UTF-8"?>
\<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
\<bean id="acc" class="org.spring.tutorials

[2020-05-26 22:57] fhussonnois commented on #33
This XPath should work `//*[local-name()='bean']`

[2020-05-26 23:12] mohai-kafka commented on #33
Works perfectly. Thanks for your help.

[2020-05-27 21:09] #33 closed

[2020-05-27 22:19] SteveGit007 commented on #20
Thank you Florian for the fix!
Regards

[2020-05-29 16:16] dmarupov commented on #27
Using read.max.wait.ms worked but I am still running into the same issue of the file being COMPLETED after the time for read.max.wait.ms runs out. Is there a way to configure it to have the file COMPLETED only if there is a new file created? Or if there is another/next file to process?
Thank you.

[2020-05-29 17:15] dmarupov commented on #27
I just tested it again. I set the read.max.wait.ms=600000 and added a file to the directory specified with 10 lines of records in it. When I first start the connector it reads it fine. Then I went ahead and added another 10 records to the file but nothing happened. 10 minutes passed and the file just got COMPLETED without processing the newly added records. It seems that it is not able to process

[2020-05-29 17:17] dmarupov commented on #27
One more thing to note is that when I restart the connector it does pickup those newly added records but for some reason it can't process the data as they are being written to the file. Is this an expected behavior?

[2020-05-29 18:49] dmarupov commented on #27
Update: I installed the new version of the Connect File Pulse, 1.3.0 to be precise and it seemed to fix some of the issues. For testing purposes I "read.max.wait.ms=120000", which is 2 minutes. Now I am able to process files every 2 minutes. However, this still marks the file COMPLETED after waiting for 2 minutes. For example, if there were no new records written in the file for period of 2 minute

[2020-05-29 21:50] fhussonnois commented on #27
Hi @dmarupov, I will try to reproduce that issue. The expected behavior is that the connector should check every 100ms if new data is written to the input file. A file should be completed if no new data is added to the file for more than `read.max.wait.ms`.

[2020-05-29 21:59] dmarupov commented on #27
I think it is checking every 10 seconds or so if the new data is written to the input file but it is not processing the data until the "read.max.wait.ms" time runs out.

[2020-06-02 23:31] fhussonnois commented on #27
Hi @dmarupov, I figured out how to reproduce the problem. I'm currently testing a patch that should be available this week.

[2020-06-03 11:06] fhussonnois opened #35 "No records is returned until read.max.wait.ms is reached."
The `RowFileInputReader` waits for `read.max.wait.ms` for more records to be available when the reader reaches the end of file. Currently, the waiting process is applied into the `RowFileInputIterator#hasNext()` method which is invoked in different places. Unfortunately this blocks the processing of the latest read records.

[2020-06-03 11:09] #27 closed

[2020-06-03 11:09] #35 closed

[2020-06-03 12:29] fhussonnois opened #36 "RowFileInputIterator may include more than skip.headers in field "headers""

[2020-06-03 12:31] #36 closed

[2020-06-11 11:13] akhileshacc opened #37 "Cannot find RegexFileFilter"
I wanted to filter out files except for .txt using
[code]
But it seems like there is not class in repo.
Do you plan to add it ?

[2020-06-11 17:52] fhussonnois commented on #37
Hi @akhileshacc, he documentation is not correct, the class name is `io.streamthoughts.kafka.connect.filepulse.scanner.local.filter.RegexFileListFilter`

[2020-06-12 04:18] akhileshacc commented on #37
Got it, Thanks 👍

[2020-06-17 05:51] akhileshacc opened #38 "How to specify config fields for file readers"
I am using row file reader, as
[code]
It has configs like skip.headers, etc.
How do i specify these configs in properties file ?

[2020-06-18 07:14] fhussonnois commented on #38
Hi @akhileshacc, you can simply add `skip.headers` as it is in your properties file or json config.

[2020-06-18 09:51] #37 closed

[2020-06-18 23:22] praveent28 opened #39 "Record Filtering"
{ "CLOG_Objects": { "Record_Id": "74394818", "File": "TypeA", "Record_Data": "" } }
{ "CLOG_Objects": { "Record_Id": "74394818", "File": "TypeB", "Record_Data": "" } }
{ "CLOG_Objects": { "Record_Id": "74394818", "File": "TypeA", "Record_Data": "" } }

We receive the above string data and we want to apply filters on the text ["File":"TypeA"], so the topic would have 2 records and leave out the rec

[2020-06-19 04:44] akhileshacc commented on #38
Thanks 👍

[2020-06-19 04:44] #38 closed

[2020-06-19 07:41] fhussonnois commented on #39
Hi @praveent28 , the `DropFilter` is the right choice if your goal is to drop some records based on given `boolean` expression.
The `contains` function should be used to check if an array field's value contains a specific value. So this is not the right function to be used for your context. Instead, you should be able to use one the this following expression :

* `{{ equals(CLOG_Objects.File, Type

[2020-06-19 22:56] praveent28 commented on #39
Hi @fhussonnois,

Thank you for replying, I tried with the below options but it was not successful, need your help:

1. Used DropFilter but I received error, the config & error are given below:
 Also, I tried with both the options which you suggested and got same errors
Config:
{"name": "FilePulseConnector","config": {
  "connector.class" : "io.streamthoughts.kafka.connect.filepulse.source.FilePul

[2020-06-22 17:59] dmarupov commented on #39
Hi @fhussonnois ,

The above mentioned record data:
{ "CLOG_Objects": { "Record_Id": "74394818", "File": "TypeA", "Record_Data": "" } }
Is in fact a string data. So, in other words even though it is in JSON format it is being passed/processed as a string like so:
"{ "CLOG_Objects": { "Record_Id": "74394818", "File": "TypeA", "Record_Data": "" } }"
Therefore, is there a filter in FilePulse that wou

[2020-06-23 10:37] fhussonnois commented on #39
Hi @praveent28 @dmarupov,

First to apply multiple processing filters you have configure the `filters` with the list of filter aliases. For example : `"filters" : "MyJsonFilter, Drop`. This property also specifies the order in which the filters will be applied.

Below are some relevant links regarding available filters and functions :
* Available expression function : https://streamthoughts.github

[2020-06-26 12:24] praveent28 commented on #39
Thank You! @fhussonnois, the option {{ matches($value.message, .*TestA.*) }} worked for us.

[2020-06-26 12:24] #39 closed

[2020-07-02 00:08] ycchangabriel opened #40 "Cannot Register Filters"
It might be I overlooked some documentation, but I am in a situation that I think my standalone kafka-connect worker is ignoring the filters setting.
[code]

I need to configure this filter because I have files with the same name but in different folders.
Therefore I am trying to convert the key from just the file name to {path}/{filename}.
[code]
I was doing this name conversion because of the ab

[2020-07-03 11:31] akhileshacc opened #41 "Can we create directory walker for S3 and fetch files from there ?"
Hi,

i have been using file pulse on local system to read csv, json and pdf files.
Now, i am trying to read files from S3.
Is there a way to read files from there, by creating custom folder walker.

[2020-07-03 12:13] fhussonnois commented on #41
Hi @akhileshacc, well I don't know if that currently possible because you will have to implement the `FSDirectoryWalker` interface to list objects on S3 bucket. However the  `FSDirectoryWalker` interface should return a list of `File` and with S3 it would be suitable to return a list of `URI`.

In addition, you will have to implement a custom `FileInputReader`.

So I think it would be necessary to

[2020-07-07 09:03] andy-agap opened #42 "Null Pointer Exception when starting connector"
Hi, the connector works great on another machine, but when I ported over to a new machine with the same connector configuration, I run into a NullPointerException with the following trace:

[code]

And here is my existing connector config:
[code]

Any advice on what might be causing the issue? Much appreciated.

[2020-07-09 22:13] fhussonnois commented on #42
Hi @andy-agap, sorry for the late reply. To be honest I don't know what may cause this NPE for now. I wil do some investigation to try to reproduce that exception.

[2020-07-09 22:19] fhussonnois commented on #40
Hi @ycchangabriel, sorry for the late reply. Actually the filter chain configured with `filters` property is applied by Task after input directories have been scanned. So you cannot you the Connect File Pulse capabilities for that purpose. I will try to found a solution for your issue.

[2020-07-10 09:16] ycchangabriel commented on #40
Hi @fhussonnois ,

Thanks for your feedback. No worries in that case I'll try to setup another transform job (e.g. rsync) to get the files inplace.

[2020-07-19 22:18] dmarupov opened #43 "Not recognizing the new file after processing the first one"
I have File Pulse finish processing a "file1.JSON" (about 110MB in size) and added a second "file2.JSON" (about 170MB in size) and the File Pulse is not picking up the second file.
Things I have tried:
When I Copy and Paste multiple files into the Directory that File Pulse is watching it works fine and gets processed with no issues.

When I use a C# app to write files into that Directory then the

[2020-07-21 03:50] akhileshacc opened #45 "Not able to get "timestamp""
Hi,

i am using filepulse to read text files using following config. I want to add timestamp using Kafka transform.

[code]

I get output like this
[code]

I tried searching, They say, We need to add "timestamp" to kafka's SourceRecord at time of creating it. How do i do that with filepulse ?

[2020-07-21 04:33] akhileshacc commented on #45
I am using a custom reader

[2020-07-21 19:47] fhussonnois commented on #45
Hi @akhileshacc, I'm nore sure this problem is related to Connect File Pulse. As I understand it, you would like to inject a field `loadedAt` with the record timestamp but at the end the field is still `null`. According to this [issue] this is due because the record.timestamp is not set by the connector.

If you are using a custom reader, then I suggest to you to return a `TypedFileRecord` or at-l

[2020-07-21 19:59] fhussonnois commented on #43
Hi @dmarupov, Normally, the connector should detect and process the second file. Did you observe that log info message "Remaining in progress scheduled files: . Skip directory scan while waiting for tasks completion." ?

[2020-07-22 16:24] dmarupov commented on #43
Hi @fhussonnois ,
Where can I see this log info message? The only two places I have been looking at so far are connect-file-pulse-status and kafka-connect-status topics. I am attaching the screenshot of what I got. The connect-file-pulse-status shows the first file process and then nothing else after that.

![filepulse-process](https://user-images.githubusercontent.com/46696879/88202041-ebbe9b80-c

[2020-07-24 09:23] hirsche opened #46 "xml files not recognized"
Hi,
I'd like to ingest XML files using your connector, however, xml files are not recognized/found. Here is my json config

[code]
The output of connect log says:
[code]

although the file `sample-review.xml` exists in the directory `/tmp/kafka-connect/examples/` of the connect container of your docker-compose [example](https://raw.githubusercontent.com/streamthoughts/kafka-connect-file-pulse/mast

[2020-07-27 09:26] fhussonnois commented on #46
Hi @hirsche, update the `file.filter.regex.pattern` to `"^.*\\.xml$"`. In addition, you have to add the property `xpath.expression` to indicate the nodes to select in your XML Files.

Also, please do not configure the `internal.kafka.reporter.topic` to the same topic than your output topic.

[2020-07-27 09:35] fhussonnois commented on #43
Hi @dmarupov, I was talking about the Connect worker application logs

[2020-07-27 09:55] fhussonnois commented on #40
Hi @ycchangabriel, Sorry I come back to your issue. I've just noticed that in your configuration you have specified `offset.strategy=name+path` but `name+path` is invalid. Which strategy did you finally configure ?

[2020-07-27 12:41] #40 closed

[2020-07-27 20:25] dmarupov commented on #43
Hi @fhussonnois,
Thank you for your prompt response. The file names are always different when written (we are appending a timestamp at the end of each file when created). I will try to rerun this process and check the Connect worker application log and will post it on here. I can also share the FilePulse config if needed.
Our connect config is pasted below:

bootstrap.servers=https://my.domain.com

[2020-07-27 22:32] dmarupov commented on #43
I have recreated this scenario of writing multiple files into the source folder. Each file is being created by a C# App. Once the file is created the C# App started writing to a file line-by-line. After the first file is done writing it starts the next file. I did this with 3 files and all three files were created and written into the source folder as shown in the screenshot.
![Test3FilesLineByLin

[2020-07-29 21:58] dmarupov commented on #43
Hi @fhussonnois,
One thing I have noticed is that

 Always showing 1 file remaining. Could this be the issue?

[2020-07-30 16:03] mohai-kafka opened #47 "Multiple JSON file as input"
I need to read json file and send it to Kafka topic based on file pattern. like

If json file name contain a_ (a_sample.json) then this needs to goto x topic
If json file name contain b_ (b_sample.json) then this needs to goto y topic

Is file pulse connect support this? If yes,could you please guide me. Thanks.

Mohaideen S.

[2020-08-03 02:00] dmarupov commented on #43
Hi @fhussonnois,
Is there any update on this? Sorry to keep asking about this. It's just that we are behind schedule with our deployment and we were really hoping for this to work.
Please let me know if I can do anything on my side. I'd be happy to do anything I can to help solve this issue.
Thank you.

[2020-08-03 08:33] #17 closed

[2020-08-03 08:35] #24 closed

[2020-08-03 08:57] fhussonnois commented on #43
Hi @dmarupov, sorry for late reply. I will have more time this week to work onyour issue.

Thanks for the application logs and configuration. I may have identified the problem, could you please send multiple lines from the `connect-file-pulse-status` topic ? Also could you confirm me that you  run the connector with its default configuration ?

* `offset.strategy`=`name+hash`
* `fs.cleanup.policy.

[2020-08-03 09:14] fhussonnois commented on #47
Hi @mohai-kafka, yes this should be possible using the file-pulse [`AppendFilter`](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/filters/#appendfilter) and [Simple Connect Expression](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/accessing-data-and-metadata/).

Here is an example that shows how to achieve what you are asking :

[cod

[2020-08-03 14:33] in-tandem opened #48 "How can i just deploy filepulse without docker or confluent hub"
Hi
I have been following the document https://streamthoughts.github.io/kafka-connect-file-pulse/docs/getting-started/ for installing

However is there no way to deploy filepulse without using docker/confluent hub? I am trying to give the jar file path in the plugin.path? will that not work

thank you.

[2020-08-03 14:37] mohai-kafka commented on #47
Thanks for your information. My first question is File Pulse support .json file extension as input?

[2020-08-03 15:41] in-tandem commented on #42
i am getting the exact same exception, please help

I am gettng it when i run this command
curl -sX POST http://localhost:8083/connectors -d C:\\software\\kafka_connector_config\\connect_file_pulse_risk_etl_topic.json --header "Content-Type: application/json"

[2020-08-03 21:04:27,198] ERROR WorkerConnector{id=connect_file_pulse_risk_etl_topic_4} **Error while starting connector (org.apache.kafka.

[2020-08-03 20:04] fhussonnois commented on #47
Yes, for reading JSON input files you should have to use the either the [RowFileInputReader](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/file-readers/#rowfileinputreader-default) or [BytesArrayInputReader](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/file-readers/#bytesarrayinputreader) with the [JSONFilter](https://streamthought

[2020-08-03 20:14] fhussonnois commented on #42
Hi @in-tandem, could you please tell me if you have any log message (with INFO level) starting with `Uncaught error from file system monitoring thread` ?

[2020-08-03 22:24] mohai-kafka commented on #47
I tried based on your recommendation but getting below error message.

[2020-08-03 18:11:03,375] ERROR [coverage-etl-filepulse-source-connect-deva|task-0] Error occurred while executing filter 'JSONFilter' on record='[message=[value=[B@3d00258, schema =[type=BYTES]]]' (io.streamthoughts.kafka.connect.filepulse.filter.DefaultRecordFilterPipeline:180)
[2020-08-03 18:11:03,375] ERROR [coverage-etl-fi

[2020-08-04 00:10] andy-agap commented on #42
Hi @in-tandem, I found that creating the topics beforehand helped to solve my NPE problem, Hope it helps.

[2020-08-04 08:47] hirsche commented on #46
@fhussonnois thanks for your help. Some of your hints I could resolve by myself already, however, e.g. the reporter topic had been still an issue! FYI: [Here](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/scanning-files/#regexfilefilter) at your documentation, I guess, you are missing the  "^.*" part for the regexp as well.

There would be one more question: if I a

[2020-08-04 08:50] #46 closed

[2020-08-04 08:56] hirsche opened #49 "XML ingestion - map xml elements to apache avro classes"
Hi,

I am ingesting XML files and writing them to a kafka topics. According to documentation, I am matching elements (including sub-elements) using an xpath query.

I'd like to know if it would it be possible to map the resulting entities (elements) together with their properties (sub-elements or element attributes) to avro-classes (taken from kafka schema-registry) which already exist and thus us

[2020-08-04 13:30] hirsche opened #50 "Error XML File Ingestion: org.apache.avro.SchemaParseException: Illegal initial character: #text"
Hi,

I am ingesting XML Files with the following structure

[code]

querying with the following xpath

[code]

for the text in the content element where <topic_gold> has the text value 24. This query gives me the following error:

[code]

When removing `\text()` at the end, querying just for the element the request works fine and the file gets processed. The problem then is that the text written t

[2020-08-05 07:06] hirsche commented on #50
Ok, I think I understand that this is caused by the xpath query which only returns text and has no "structure". But would it be possible to write those test result in a plain-text based topic?

[2020-08-05 15:05] mohai-kafka commented on #47
Can i get you guys thought on this issue?

[2020-08-05 16:12] dmarupov commented on #43
Hi @fhussonnois,

Here is the config we are using for Filepulse connector:
[code]

We are using `fs.cleanup.policy.class=io.streamthoughts.kafka.connect.filepulse.clean.LogCleanupPolicy` because it is a required field but we are not really doing anything with the cleanup policy at this point. I tried to set `fs.cleanup.policy.class=''` and `fs.cleanup.policy.class=""` and `fs.cleanup.policy.class=

[2020-08-06 10:03] fhussonnois commented on #43
Hi @dmarupov, I'm sorry, it's my bad. Could you please retry with  `offset.strategy=name`. The strategy `path` is identifying each file with there parent absolute path which is in your context `/mnt/filepulse`.

But, I don't understand why you didn't get an exception on the first scan. Normally, the connector throw an exception if it scans two files that generate the same offset identifier. Were b

[2020-08-06 12:26] hirsche commented on #48
I am also new to that project, but I think the command "confluent-hub" together with the zip file do also copies/updates a couple of config files. Just quickly check out what happens during/after the install with confluent-hub then you'll see what is happening.
But why don't you use just docker or install the [command line tool](https://docs.confluent.io/current/connect/managing/confluent-hub/clie

[2020-08-06 12:53] fhussonnois commented on #42
Hi @in-tandem @andy-agap ? I confirm that an NPE is thrown when the `internal.kafka.reporter.topic` (default: `connect-file-pulse-status`) topic is missing. Hence, if `auto.create.topics` is disable on cluster, the topics must be created before running connector.

I'm will push a commit that will fix the NPE and throw a more meaningful exception

[2020-08-06 12:54] #42 closed

[2020-08-06 13:01] fhussonnois commented on #48
Hi @in-tandem, the confluent command-line tool can help to install a connector. Honestly, I think it's a good idea to use it.

But, you should be able to install the connector manually by unzip the distribution package under one of the directories you have configured (`plugin.paths`) : https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/installation/

[2020-08-06 13:17] fhussonnois commented on #47
Hi @mohai-kafka, after looking to the code of the `JSONFilter` it seems it cannot read a value of type BYTES. So, I will push a fix for that. But, your configuration is not correct.

[code]

In addition, I've seen your file contains an JSON Array, do you need to get one record per element ? Because, there is no filter for exploding an array to multiple records

[2020-08-06 13:17] fhussonnois opened #51 "JSONFilter should support input messages of type BYTES"

[2020-08-06 13:19] mohai-kafka commented on #47
Thanks for your reply. I tried with "filters.MyJsonFilter.source":"message" and got same issue.  Yes I need one record per element.

[2020-08-06 13:58] fhussonnois commented on #47
Could you give me the exception your got with `filters.MyJsonFilter.source":"message" ` ?

[2020-08-06 14:21] dmarupov commented on #43
Hi @fhussonnois,

Regarding your second question the answer is no. We created the files one after another with 1 minute wait time interval between each file creation.
I will test the `offset.strategy=name` and submit result as soon as I am done.

Thank you

[2020-08-06 14:27] fhussonnois opened #52 "add new filter ExplodeFilter to split an input record based on an array field"

[2020-08-06 14:34] #51 closed

[2020-08-06 14:34] #52 closed

[2020-08-06 14:53] mohai-kafka commented on #47
[2020-08-06 10:52:58,511] ERROR [coverage-etl-filepulse-source-connect-deva|task-0] Error while processing source file '[name='NEXUSCOVBATCH_EMPR_SUB_GRP_20200727_3.json', path='/opt/kafka/confluent/coveragetmp', size=21351, lastModified=1596127207000, inode=6150198, hash=4246012737]' (io.streamthoughts.kafka.connect.filepulse.source.KafkaFileStateReporter:119)
io.streamthoughts.kafka.connect.file

[2020-08-06 15:14] fhussonnois commented on #47
Thanks @mohai-kafka. I pushed two commits to solve your problem #51 and #52 that will be available in the next version. File Pulse `v1.4.0` shoud be released soon.

[2020-08-06 15:23] mohai-kafka commented on #47
Thanks @fhussonnois . for time being i am using RowFileInputReader. I am seeing some weird behavior.

When  i use RowFileInputReader I am seeing different issues. Attached in the file.
[Information.txt](https://github.com/streamthoughts/kafka-connect-file-pulse/files/5035854/Information.txt)

[2020-08-06 15:24] fhussonnois commented on #49
Hi @hirsche, to be honest the [`XMLFileInputReader`](https://github.com/streamthoughts/kafka-connect-file-pulse/blob/master/connect-file-pulse-plugin/src/main/java/io/streamthoughts/kafka/connect/filepulse/reader/XMLFileInputReader.java) is not very evolved and does very basic stuff. It try to dynamically infer a data structure by iterating over the document nodes.

So unfortunately, the answer is

[2020-08-06 15:40] dmarupov commented on #43
After using `offset.strategy=name` the second created file did get processed. I will do some more test and let you know for sure.

Thank you.

[2020-08-06 15:43] fhussonnois commented on #50
Hi @hirsche, the `XMLFileInputReader` expects the configured xpath to return a NodeSet. Then each element is processed as a single record. So using your example, if you used the following xpath `//root/document/paragraph/sentence/topic_gold[text()=24]/parent::node()/content` this will produce two records

`{"content":"Perfectly equipped."}`
`{"content":"[...TEXT TO SELECT...]"}`

If would like to

[2020-08-06 16:34] fhussonnois commented on #47
Ok this is a bug due to the JSONFilter that do not infer the schema for array of complex type. I will provide a fix for that.

[2020-08-06 18:25] mohai-kafka commented on #47
THanks a lot for your help. May i know when 1.4.0 going to release with these fixes and enhancements?

[2020-08-06 18:52] fhussonnois opened #53 "FilePulse should automatically generate record schema name based on field name"

[2020-08-06 18:54] fhussonnois opened #54 "Schema for array value is always null for complex type causing NPE during ConnectSchema convertion"

[2020-08-06 18:57] #53 closed

[2020-08-06 18:58] #54 closed

[2020-08-06 19:59] fhussonnois opened #55 "Add a new ExcludeFilter to remove one ore more fields from an input record"

[2020-08-06 20:01] #55 closed

[2020-08-06 20:24] fhussonnois commented on #47
@mohai-kafka, v1.4.0 is available : https://github.com/streamthoughts/kafka-connect-file-pulse/releases/tag/v1.4.0
However, this new release is currently not available on confluent-hub

[2020-08-06 22:23] mohai-kafka commented on #47
Thanks for your quick response. After i took new version. I am getting following error. Error contains my json message also.

[2020-08-06 18:21:26,190] ERROR [coverage-etl-filepulse-source-connect-deva|task-0] Error occurred while executing filter 'JSONFilter' on record='[message=[value=[B@39734f6, schema =[type=BYTES]]]' (io.streamthoughts.kafka.connect.filepulse.filter.DefaultRecordFilterPipelin

[2020-08-06 23:26] fhussonnois commented on #47
The error is due to invalid JSON which reader are you using `RowFileInputReader` or `BytesArrayInputReader` ? The JSON input seems to be formatted so you should use the ` BytesArrayInputReader`

[2020-08-06 23:34] mohai-kafka commented on #47
I am using BytesArrayInputReader

On Thu, Aug 6, 2020 at 7:27 PM Florian Hussonnois <notifications@github.com>
wrote:

[2020-08-07 00:05] fhussonnois opened #56 "JSONFilter doesn't support JSON array payload"

[2020-08-07 10:49] fhussonnois commented on #47
Hi @mohai-kafka, I've found the problem. Currenlty the JSONFilter doesn't support Array JSON only record. I will provide a fix for that.

[2020-08-07 10:54] mohai-kafka commented on #47
Thanks. I hope it split in array element in to one message. In my example I
get 2 message in topic?. When I receive I need only payload.

On Fri, Aug 7, 2020 at 6:49 AM Florian Hussonnois <notifications@github.com>
wrote:

[2020-08-08 13:44] thecontinium opened #57 "Ouestion: Send only file details"
Hi

I am dealing with large files and don't want to push them all through Kafka but I do want to send the file details when they change of are new; name etc.

Can this connector just send the file details alone in one Kafka message rather than the contents ?

Cheers

[2020-08-09 08:00] in-tandem commented on #42
thank you so much it worked. to be honest just creating connect-file-pulse-status topic did not work.. i had to additionally setup auto.create.topics.enable=true . are there any other status topics it creates internally.

PS.. @fhussonnois , it is so great to get an answer from you directly :) the only reason i was trying this was because of your great blog. https://medium.com/streamthoughts/kafka

[2020-08-09 08:16] in-tandem commented on #48
i manually unzipped the plugin and updated the plugin.path.it is working now. is there any article somewhere which can point me to preffered mode of deployment in production. for consuming say 25000 >1.5gb CSV files throughout the day. the files come in in bunches.

[2020-08-09 08:43] hirsche commented on #49
Ok, thx - the ConverFilter will do the trick ... at least for me ;)

[2020-08-09 08:43] #49 closed

[2020-08-09 08:45] hirsche commented on #50
Ok I think I've missed that part in the documentation.
Thx

[2020-08-09 08:45] #50 closed

[2020-08-09 13:48] scheung38 opened #58 "[Question] Example : CSV File Parsing not working?"
In Getting Started

https://streamthoughts.github.io/kafka-connect-file-pulse/docs/getting-started/

$ docker logs --tail="all" -f connect | grep "Orphan task detected"

[main] INFO org.apache.kafka.clients.admin.AdminClientConfig - AdminClientConfig values:
        bootstrap.servers = [broker:29092]
        client.dns.lookup = default
        client.id =
        connections.max.idle.ms = 300000

[2020-08-10 01:30] mohai-kafka commented on #47
When i use Appendfilter i am getting following error.

[2020-08-09 21:22:04,642] INFO [coverage.basecoverage-file-source-deva|task-0] Opening new iterator for source : [name='NEXUSCOVBATCH_MEMB_PLAN_COV_4.json', path='/mnt/nexus-kafka-connect/member-coverage/MEMBPLANCOV/deva', size=43516, lastModified=1597022524000, inode=25, hash=880644864] (io.streamthoughts.kafka.connect.filepulse.source.FileIn

[2020-08-10 15:09] fhussonnois opened #59 "NullPointerException while executing AppendFilter and ByteArrayInputReader"
When i use Appendfilter i am getting following error.

[2020-08-09 21:22:04,642] INFO [coverage.basecoverage-file-source-deva|task-0] Opening new iterator for source : [name='NEXUSCOVBATCH_MEMB_PLAN_COV_4.json', path='/mnt/nexus-kafka-connect/member-coverage/MEMBPLANCOV/deva', size=43516, lastModified=1597022524000, inode=25, hash=880644864] (io.streamthoughts.kafka.connect.filepulse.source.FileIn

[2020-08-10 16:30] fhussonnois commented on #59
Hi @mohai-kafka, you configuration should be `"filters.SetSUBGRPTopic.field":"$topic"` . But there is still an issue that will be fixed in the coming bugfixes releases.

[2020-08-10 16:46] fhussonnois commented on #58
Hi @scheung38, when running the `kafka-avro-console-consumer` you should get the records in JSON.

[2020-08-10 17:03] fhussonnois commented on #57
Hi @thecontinium, currently the File Pulse has no reader for doing that but this is an easy to add feature. So for example, for each source file, the connector will send one message like this :

[code]

Is that what you want ?

[2020-08-10 17:09] fhussonnois commented on #48
Hi @in-tandem, in production should deploy Kafka Connect in distributed mode. File Pulse can works in distributed mode (ie: with many connect work deployed across multiple hosts) if for example you mount the shared volume that contains all files on each host. Then, configure as many tasks you need to process files in parallel.

[2020-08-10 17:42] scheung38 commented on #58
Empty at the moment but will check again

Sent from my iPhone

[2020-08-10 21:29] mohai-kafka commented on #47
THanks @fhussonnois . May i know when can you are going to release these issue fixes for use?

[2020-08-11 23:47] fhussonnois opened #60 "ScEL does not support nested function with multiple args"
Example: `{{ lowercase(extract_array(values,0) }}` is not working

[2020-08-12 14:57] #59 closed

[2020-08-12 14:57] #60 closed

[2020-08-12 14:58] #56 closed

[2020-08-12 15:00] fhussonnois commented on #47
Hi @mohai-kafka, File Pulse v1.4.1 is released. Just note this version comes with somes changes on the expression language. Do not hesite to open a separate issue if you have trouble with it.

[2020-08-12 15:01] fhussonnois commented on #43
Hi @dmarupov, could you close this issue if your problem is resolved ? Thanks.

[2020-08-12 15:24] dmarupov commented on #43
Hi @fhussonnois,

We were able to process over 50 files with no issues so far. We used `offset.strategy=name` to make it work when processing records line by line from files as the records are being written.

Thank you for your time and help.

[2020-08-12 15:24] #43 closed

[2020-08-12 15:26] fhussonnois commented on #45
Hi @akhileshacc, could you please close this issue if your problem is resolved. Thanks.

[2020-08-12 15:48] fhussonnois commented on #57
Hi @thecontinium, I've just release File Pulse 1.4.1 which include the new reader  [FileInputMetadataReader](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/file-readers/#fileinputmetadatareader) that you can configure for achieving what illustrated in my previous message.

[2020-08-12 16:57] thecontinium commented on #57
Great! I’ll give that a go. Thanks for following up Florian.

On 12 August 2020 at 16:48:27, Florian Hussonnois (notifications@github.com<mailto:notifications@github.com>) wrote:

Hi @thecontinium<https://github.com/thecontinium>, I've just release File Pulse 1.4.1 which include the new reader FileInputMetadataReader<https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/fi

[2020-08-13 16:22] fhussonnois opened #61 "ConvertFilter is not working"

[2020-08-13 16:32] #61 closed

[2020-08-13 16:42] fhussonnois opened #62 "AppendFilter: overwrite propery is not working with ScEL"

[2020-08-13 17:11] fhussonnois opened #63 "ScEL: The result from a single substitution expression should not be casted to string"

[2020-08-13 17:25] #62 closed

[2020-08-13 17:25] #63 closed

[2020-08-14 21:56] ccamba opened #64 "XMLFileInputReader: Unsupported node type '4'"
Hi, I have a xml file with this structure:

[code]

But the reader gives an error when it wants to parse CDATA

Stack:
`
[2020-08-13 17:41:39,808] ERROR WorkerSourceTask{id=connect-file-pulse-xml-0} Task threw an uncaught and unrecoverable exception (org.apache.kafka.connect.runtime.WorkerTask)
io.streamthoughts.kafka.connect.filepulse.reader.ReaderException: Unsupported node type '4'
        at i

[2020-08-15 14:12] fhussonnois commented on #64
Hi @ccamba, thank you for reporting that issue. I will process CDATA node in the same way as TextNode instead of using `setCoalescing(true)` to be able to filter `\n\t` characters.

Because if we use `setCoalescing(true)`  and for example the input XML is :

[code]

Then the content for root is `\n\tdummy text\n`. So it's better to directly get clean output `dummy text`.

I will push a fix very so

[2020-08-15 14:13] fhussonnois opened #65 "XMLFileInputReader: Fail to read XML Document with comment"

[2020-08-15 14:46] #64 closed

[2020-08-15 15:30] ccamba commented on #64
Thanks @fhussonnois

[2020-08-17 01:26] mohai-kafka opened #66 "Mismatched Input Error"
Using Kafka Connect File Pulse. When i use JSONFilter and AppendFilter getting following error. Attached my config and sample JSON for reference.
[A_6.txt](https://github.com/streamthoughts/kafka-connect-file-pulse/files/5081721/A_6.txt)

[2020-08-16 21:18:49,161] ERROR [coverage-etl-filepulse-source-connect-deva-1.4.2|task-0] WorkerSourceTask{id=coverage-etl-filepulse-source-connect-deva-1.4.2-0}

[2020-08-17 07:40] fhussonnois commented on #66
Hi @mohai-kafka, change your expression to be `{{ matches($metadata.name,'^A_.*') }}`. This should fixes your issue (note the quotes)

[2020-08-18 02:31] mohai-kafka commented on #66
Getting NullPointerError.

File Name is A_11.json

Filter is :

   "filters": "SetSUBGRPTopic",
    "filters.SetSUBGRPTopic.field": "{{$topic}}",
    "filters.SetSUBGRPTopic.if": "{{ matches($metadata.name,'^A_.*') }}",
    "filters.SetSUBGRPTopic.override": true,
    "filters.SetSUBGRPTopic.type": "io.streamthoughts.kafka.connect.filepulse.filter.AppendFilter",
    "filters.SetSUBGRPTopic.value":

[2020-08-18 08:54] fhussonnois commented on #66
Hi @mohai-kafka, thanks, I find the cause for the NPE. But, even if that should not happen your configuration will still throw an error because you have configured the `"filters.SetSUBGRPTopic.field": "{{$topic}}"` with a substitution expression.

The substitution expression `{{ $topi c}}` is evaluated to `null` because the topic is not defined. So, just remove the curly brackets `$topic`.

[2020-08-18 09:09] #65 closed

[2020-08-18 11:25] mohai-kafka commented on #66
Still getting NPE. Below is the stack trace and filter condition.

[2020-08-18 07:20:55,440] ERROR [coverage-etl-filepulse-source-connect-deva-1.4.2|task-0] Error occurred while executing filter 'AppendFilter' on record='[message=[value=[B@6cafdb5d, schema =[type=BYTES]]]' (io.streamthoughts.kafka.connect.filepulse.filter.DefaultRecordFilterPipeline:180)
[2020-08-18 07:20:55,441] ERROR [coverage-e

[2020-08-18 13:10] fhussonnois commented on #66
Are you sure the configuration has been updated ?

Because you get the exception the following exception but `$topic` cannot compile to a `SubstitutionExpression` and

[code]

[2020-08-18 13:22] mohai-kafka commented on #66
yes I verified in config method in connector and see $topic . Below is my JSON for connect.

{
  "config": {
    "connector.class": "io.streamthoughts.kafka.connect.filepulse.source.FilePulseSourceConnector",
    "filters": "SetSUBGRPTopic",
    "filters.SetSUBGRPTopic.field": "$topic",
    "filters.SetSUBGRPTopic.if": "{{ matches($metadata.name,'^A_.*') }}",
    "filters.SetSUBGRPTopic.override":

[2020-08-18 13:43] fhussonnois commented on #66
OK. I'm sorry but I are you sure this is not an exception from a previous connector ?

I write that test with your configuration and everything is working as expected:

[code]

[2020-08-18 16:19] #45 closed

[2020-08-19 09:12] fhussonnois commented on #48
Hi @in-tandem, could you please close this issue if your problem is resolved. Thanks.

[2020-08-20 00:30] dmarupov opened #67 "FilePulse Connector adding additional information to the message"
I am getting an additional information on the message that is being sent from the source. For example:
The original message is: `{"firstname": "John", "lastname": "Doe"}`
After FilePulse processes the message it becomes like this: `Struct{message={"firstname": "John", "lastname": "Doe"}}`

So FilePulse is adding `'Struct{message=}'` is this an expected behavior? If so is there a way to remove it o

[2020-08-20 08:25] fhussonnois commented on #67
Hi @dmarupov, did you configure filters (i.e JsonFilter)?

If you don't use filter then this is the expected behavior. FilePulse creates a single field `message` with the content of the entire file or a single line of the file.

[2020-08-20 14:27] dmarupov commented on #67
Hi @fhussonnois,

I tried to test with JsonFilter real quick and I got the same result. Below is the configuration I used for FilePulse:
connector.class=io.streamthoughts.kafka.connect.filepulse.source.FilePulseSourceConnector
[code]

We were also using the below filter for our dev environment:
[code]

[2020-08-20 14:57] fhussonnois commented on #67
Yes, the `JSONFilter` doesn't remove the field `message`. You have to remove it.

So, using Connect FilePulse 1.5.0 you should configure your connector like this :

[code]

[2020-08-20 15:01] dmarupov commented on #67
Thank you I will try that.

[2020-08-20 15:46] ccamba opened #68 "MoveCleanupPolicy: NoSuchFileException"
Hi, I have 3 configurations pointing to the same directory with different regular expressions to differentiate the files.
The cleaning policy is MoveCleanupPolicy, in the log I see that it keeps iterating indefinitely throwing the exception but the files were already moved correctly after being processed

**Files in D:/tmp/files/:**
TOMDW-20200705-150000-POLIZAS.xml
ALZ-111555_1593792970947-SMS.xm

[2020-08-20 17:58] dmarupov commented on #67
Hi @fhussonnois,
I installed the Connect FilePulse 1.5.0 and used the following configuration as you suggested:
[code]
And I am getting the following error:
[code]

I also tried to remove the Drop Filter just to see and it did process but it still includes the word `Struct`. An example is shown below:
`Struct{"firstname": "John", "lastname": "Doe"}`

[2020-08-20 18:10] dmarupov commented on #67
I also notices that everytime there is a nested JSON it adds the word `Struct` in front of it. Like so:
[code]

[2020-08-20 19:29] dmarupov commented on #67
Hi @fhussonnois,
I also tried to remove all the filters and process some data. The word `Struct` still being added. I would really like to be able to process the messages as they are without adding any additional data to it. Is it possible with FilePulse?

Thank you very much!

[2020-08-21 06:59] fhussonnois commented on #67
Hi @dmarupov, I'm sorry I've missed to fix your expression; here is the good one (note the quotes) :

[code]

Which serializer are you using ? Kafka Connect uses its own internal class `Struct` which represent a data record. This the `toString` method output that you are giving me not the serialized record send to Kafka. See https://github.com/apache/kafka/blob/12f310d50e7f5b1c18c4f61a119a6cd830da

[2020-08-21 07:22] fhussonnois commented on #68
Hi @ccamba , thank you for reporting this issue. I will try to provide a fix as soon as possible.

[2020-08-24 15:36] dmarupov commented on #67
Hi @fhussonnois,
Thank you for your suggestions, I really appreciate them.
Just an FYI, I ended up using `org.apache.kafka.connect.json.JsonConverter` for `value.converter` and this got rid of the word `Struct` which solves my issue.
Thank you very much for all of your help!

[2020-08-24 15:36] #67 closed

[2020-09-01 10:36] #68 closed

[2020-09-02 19:57] luizcss opened #69 "Inputing data in a Kakfa Topic from XML with FilePulse - ExplodeFilter"
I'm creating a kakfa topic which comes from an xml and writes to the topic in avro format. I'm using the file pulse to do this, and in the documentation I saw the ExplodeFilter. I tried to configure according to the documentation, but it is not working. The connect docker console is giving the following error:

io.streamthoughts.kafka.connect.filepulse.data.DataException: measurements is not a val

[2020-09-03 13:26] Ram-Kotamraju opened #70 "Unable to write record metadata to the row dynamically"
Hi, I am trying to use File Pulse (1.3.1) for reading a csv file and

- insert a field using AppendFIlter for each record.
- And add a value to the field as 'Rownumber' of 'Total Recs' (1/25, 2/25, 3/25 etc...)
- Tried various filters without success.
Any thoughts about achieving this?
[code]

Tried various other filters also like transform.
[code]
Thanks
Ram

[2020-09-03 13:45] fhussonnois commented on #70
Hi @Ram-Kotamraju, fist could you update to the latest version 1.5.1 or at least to the 1.5.0 which is available on Confluent-Hub : https://www.confluent.io/hub/streamthoughts/kafka-connect-file-pulse

FilePulse's filters and Connect's Transform are two distinct mecanism that can be used together but Transformer does not support expression like `{{ $offset.row}}`.

Unfortunately, you cannot insert

[2020-09-03 14:00] fhussonnois commented on #69
Hi @luizcss, I think your exception is not associated with the configuration you have provided because the error message is :  `io.streamthoughts.kafka.connect.filepulse.data.DataException: measurements is not a valid field name`.

Currently, the `ExplodeFilter` does not support dot notation for selecting field. I think this is blocking for your need. Are you looking to get two records in the foll

[2020-09-03 15:47] Ram-Kotamraju commented on #70
Thanks for the quick reply @fhussonnois ... I will give it a shot and let you know.

[2020-09-03 15:57] fhussonnois opened #71 "JSONFilter should support null value"
[code]

[2020-09-03 20:11] #71 closed

[2020-09-07 15:15] mingfang opened #72 "Create new FileFilter to automatically filter out files tracked by "file status""
since files are tracked by
https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/tracking-files-status/

it would be a great feature to automatically filter those files when scanning
https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/scanning-files/

This effectively creates a one way sync from local fs to Kafka that can automatically handle new

[2020-09-08 17:06] minnieshi opened #73 "class not found exception on offset manager"
I have put lots of information here:
https://stackoverflow.com/questions/63796593/kafka-connect-file-pulse-connector-standalone-could-not-startclass-not-found-ex

Please let me know if you need me to copy them over here.

High level summary of the problem:
- below are my environment:

- I started zookeeper; kafka, and tried to start kafka-connect standalone like below:
`$ zookeeper-server-start et

[2020-09-08 17:18] ccamba commented on #73
Hi @minnieshi , the configuration file is not correct: /etc/kafka-connect-jdbc/sink-quickstart-sqlite.properties
You must pass the properties file corresponding to file-pulse; for example: quickstart-connect-file-pulse-csv.properties
included in the zip with your own config

[2020-09-08 17:30] minnieshi commented on #73
Hi @ccamba , I did use "/home/min/streamthoughts-kafka-connect-file-pulse-1.5.2/etc/quickstart-connect-file-pulse-csv.properties"

I was just testing (after above exception failure) if other connector (jdbc) was working or not.

[2020-09-08 18:17] minnieshi commented on #73
Hi @ccamba ,
What I posted on stackoverflow, mentions I also tested jdbc connector without exceptions.

[2020-09-09 05:57] minnieshi commented on #73
I found 'work around' or 'solution' for the issues. I've posted the comment/answer in the stakoverflow.

[2020-09-09 10:59] minnieshi opened #74 "maybe I did something wrong or maybe there is regression?"
Main question/issue I have here is:

using 1.5.2 verrsion, reading xml file like this.

[code]

**with configuration like this**

[code]

**the message got read into kafka does not have the unit attribute**

the payload part is like this

[code]

I've also posted the question here:
https://stackoverflow.com/questions/63809219/kafka-connect-file-pulse-xml-attribute-extraction

[2020-09-09 14:40] fhussonnois commented on #73
Hi @minnieshi, the `plugin.path` should be either configured with a top-level directory containing all installed plugins (e.g `/usr/local/share/kafka/plugins`) or the plugin-directory (i.e: `/home/min/streamthoughts-kafka-connect-file-pulse-1.5.2`).

If your problem is resolved, could you please close this issue.

Thank you

[2020-09-09 15:38] minnieshi commented on #73
Thank you very much @fhussonnois .

 Being in Windows WSL + Ubuntu made it difficult for me.
I could not use the other 2 installation options you wrote in the article on Medium https://link.medium.com/QWcjPJMWD9
So this make it difficult for me to see how the setup should be when using  the manual download option.

Closing the issue now.

[2020-09-09 15:38] #73 closed

[2020-09-09 15:56] fhussonnois commented on #74
Hi @minnieshi, currently the reader doesn't read the attributes of a text-node. I will provide a fix for this.

[2020-09-09 16:49] minnieshi commented on #74
Hi @fhussonnois
I thought I did something wrong, or I am using the different version as the one you used here: https://medium.com/streamthoughts/streaming-data-into-kafka-s01-e02-loading-xml-file-21b5e69c645 the playlist does have 'name' attribute' and it was not lost. <playlist name="BestOfStarWars">

Thank you very much for the quick response.

Ps Please also let me know if I should not post the

[2020-09-10 02:32] minnieshi commented on #74
Hi @fhussonnois I'd like to understand (sorry if this should have been common knowledge): Would the issue be fixed after all other ones are done? Or would it be fixed very soon?
I need to know roughly the timeline, to decide whether I have time to wait for the fix, or I should consider other options.

Best regards
Min

[2020-09-10 12:16] #74 closed

[2020-09-10 12:23] fhussonnois commented on #74
Hi @minnieshi, the bug fixe release is available : https://github.com/streamthoughts/kafka-connect-file-pulse/releases/tag/v1.5.3

[2020-09-11 06:18] minnieshi commented on #74
Great. Thank you very much. I will have a quick test today.

[2020-09-11 12:31] minnieshi commented on #74
I confirm, my testing shows it fix the issue, and now i can see 2 records. split and kept the info.

[2020-09-12 09:41] minnieshi opened #75 "attribute of xml file schema inferred as either array or not"
I am using version 1.5.3 to ingest xml files to kafka

maybe it is a quetion instead of an issue.

This is related to but different than the issues https://github.com/streamthoughts/kafka-connect-file-pulse/issues/74
The fix  for the above issue, starts to read the attributes of the XML file, but the **resulting inferred sechema*** can be different when the attribute has only 1 elelement versus wh

[2020-09-14 07:25] minnieshi commented on #75
I even tried to force "value" to be array, it did not help to force the 1st file to have the same schema/payload structure as the 2nd file.

[2020-09-14 19:50] fhussonnois commented on #75
Hi @minnieshi, did you try to configure the property `force.array.on.fields=field2`. Also, this property doesn't support dot notation. So configuring `data.field2` will not work.

Note that I will push a fix for adding dot notation on the  `force.array.on.fields`.

[2020-09-14 19:54] minnieshi commented on #75
Hi @fhussonnois , I did try to use "force.array.on.fields=field2", or by removing the setting, It did not make a difference.
and I think (i cannot remember now), I also tried to use field2.value
the problem is at the 'value' , i could not force it to be array.

[2020-09-14 21:25] minnieshi commented on #75
Hi @fhussonnois
I can update the standalone properties and the connector properties file if that helps.

[2020-09-15 01:34] luizcss commented on #69
Sorry, i sent the wrong exception.
The correct is this: `io.streamthoughts.kafka.connect.filepulse.data.DataException: leitura is not a valid field name.`

Yes, what I needed, was exactly whats you said. I needed two separated registrys with both having the same <pai> tag.
I thought the ExplodeFilter would help me, but as I couldnt manage to manke ir work as I needed, I changed the solution.
I was

[2020-09-15 21:30] minnieshi commented on #75
Hi @fhussonnois, when do you think I could get a fix for the forcing attribute as array (I am happy if the attribute is default to array too). Thanks a lot.

[2020-09-18 10:30] #75 closed

[2020-09-18 10:44] fhussonnois commented on #75
Hi @minnieshi, please use the new bugfix release: https://github.com/streamthoughts/kafka-connect-file-pulse/releases/tag/v1.5.4

Configure your connector with:  `force.array.on.fields=data.field2.value`

[2020-09-18 12:04] minnieshi commented on #75
Hi @fhussonnois , I will give it a try now. and let you know.

[2020-09-18 12:23] minnieshi commented on #75
Hi @fhussonnois I can confirm the 2 files now have the same inferred schema. Thank you very much for the fix.

[2020-09-18 18:34] scheung38 opened #76 "Token recognition error in AppendFilter?"
➜  kafka-connect-file-pulse git:(master) ✗ docker logs --tail="all" -f connect | grep "Orphan task detected"

"filters": "ParseDelimitedRow, Drop, CreateUniqueId",
![Screenshot 2020-09-18 at 19 34 38](https://user-images.githubusercontent.com/1273014/93632885-ff0b9e80-f9e5-11ea-9301-627f3e08ef3c.png)

![Screenshot 2020-09-18 at 19 33 08](https://user-images.githubusercontent.com/1273014/93632762-c

[2020-09-19 00:22] scheung38 opened #77 "[Question] Error after adding ksqldb-cli and ksqldb-server with Error/Warning:"
After adding ksqldb-server and ksql-cli

Getting:

![Screenshot 2020-09-19 at 01 21 45](https://user-images.githubusercontent.com/1273014/93654640-7ce79e00-fa16-11ea-9d4a-c42223929929.png)

Can this be ignored?

[code]

[2020-09-21 00:39] dmarupov commented on #27
Hi @fhussonnois,
Is this solution added to the filepulse 1.5.0 release?

Thank you.

[2020-09-21 08:39] fhussonnois commented on #27
Hi @dmarupov, yes your problem should be solved usin the last available version 1.5.4.

[2020-10-02 06:33] fhussonnois commented on #77
Hi @scheung38, This error is not related to Connect FilePulse. You have only started one broker but you have a replication factor of 3 for the transaction topic.

[2020-10-02 06:33] #77 closed

[2020-10-03 13:16] fhussonnois commented on #72
Hi @mingfang, I'm sorry for the late response. In fact, the input files are already filtered based on the topic `connect-file-pulse-state`. So files that have been cleaned up should not be rescheduled.

[2020-10-03 13:22] #76 closed

[2020-10-03 14:49] mingfang commented on #72
@fhussonnois Thanks for the update. Closing.

[2020-10-03 14:49] #72 closed

[2020-10-14 18:08] fhussonnois commented on #69
Hi @luizcss , sorry for my late reply. I think your issue has been fixed since FilePulse 1.5.2 (but please use the v1.5.4).
For your need you have to configure : `"filters.Explode.source":"playlists.leitura"`.

[2020-10-14 18:09] fhussonnois commented on #57
Hi could you please close this issue if your need is resolved. Thanks.

[2020-10-14 18:20] thecontinium commented on #57
Resolved. Thanks.

[2020-10-14 18:20] #57 closed

[2020-10-22 23:06] shinlim opened #81 "RowFileInputReader does not tail log files"
I am a big fan of the work you have done on FilePulse and need to use the log file streaming functionality that is mentioned in the [FAQ](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/faq/) and [this](https://medium.com/streamthoughts/kafka-connect-filepulse-one-connector-to-ingest-them-all-faed018a725c) medium.com article.

When I tested it using the following config, I observed

[2020-10-23 00:15] shinlim opened #82 "RowFileInputReader for writing lines to Kafka as Strings and not structs"
RowFileInputReader is writing out struct data for log files I want to write out as-is to Kafka.

### FilePulse configuration:

[code]

### Test data that must be written to Kafka as-is
[code]
### Data actually written to Kafka topic by FilePulse

[code]

How can I resolve this issue please?

Thanks in advance.
Shin

[2020-10-23 07:50] fhussonnois commented on #81
Hi @shinlim, thank you for your message. Which version of Connect FilePulse are you using ?

Also, change the `offset.strategy` property to either "path+name" or "inode". But don't use hash because it will change over time.

The most important configuration is `read.max.wait.ms` which is how long you would like to wait for more data to be written to the file before considering the file completed.

[2020-10-23 07:56] fhussonnois commented on #82
Hi @shinlim, Yes FilePulse will create a structured record with a field `message` containing the row. To only send the row string you should :

* Configure the StringConverter as `"value.converter": "org.apache.kafka.connect.storage.StringConverter"`
* Use a KafkaConnect Transfomer to extract the raw from the field `message`: https://docs.confluent.io/current/connect/transforms/extractfield.html#e

[2020-10-23 09:37] shinlim commented on #81
Thank you for your quick reply! We will try this out and post back the result.

[2020-10-23 09:37] shinlim commented on #82
Thank you for your quick reply! We will try this out and post back the result 👍

[2020-10-23 09:37] #81 closed

[2020-10-26 02:17] shinlim commented on #81
Thank you so much for your advice. I corrected my configuration on your recommendation and it seems to produce the intended result.

Once again, kudos on the very powerful plugin you have developed!

For info, I am using File Pulse v1.5.4

[2020-10-26 02:19] shinlim commented on #82
Thank you so much for your advice. I corrected my configuration on your recommendation and it seems to produce the intended result. I was able to develop my use case using filter chaining and the very powerful AppendFilter.

Once again, kudos on the very powerful plugin you have developed!

For info, I am using File Pulse v1.5.4

[2020-10-26 02:19] #82 closed

[2020-10-26 14:02] shinlim opened #83 "How to configure RowFileInputReader to detect new files when existing file has not been timed out (read.max.wait.ms)?"
I have been experimenting with various configurations to implement tailing log files which rollover hourly e.g.

[code]

There can be periods of inactivity which mean a log file isn't updated for several tens of minutes. If an event is logged after the hour, it will be logged in a new file.

When I used the below configuration, it resulted in the file connector waiting for an hour on the previous

[2020-10-26 17:24] juancamilosalazar opened #84 "CREATE Error Handling and Dead Letter Queues"
Hi, I am trying to do error handling and dead message queue handling, as shown in this confluent example: [https://www.confluent.io/blog/kafka-connect-deep-dive-error-handling-dead-letter-queues/](url), My question is if I can do something similar with kc file pulse, is there any way to be able to send the records that do not comply with a specific structure or that come with errors to an error to

[2020-10-26 18:09] fhussonnois commented on #83
Hi @shinlim, well, I think you've hit on one of the current limitations of Connect FilePulse. Currently the connector will not schedule new tasks until all previous taks (i.e files) has been completed even if new files has been detected.

It should be relatively easy to update the connector to add (for example) this new parameter:

- `allow.tasks.schedule.after.timeout.ms` : Specifies the timeout

[2020-10-27 03:05] shinlim commented on #83
Thank you! I will try this out and post back the result.

[2020-10-27 03:14] shinlim commented on #83
That would be a very useful feature! Would we be able to configure that on only 1 connector so that if we specified multiple tasks, would that mean while 1 task was waiting on the file to complete, others could pick up new files?

Thank you for your support!

[2020-10-27 03:45] shinlim opened #85 "Numerous warning messages output to console reporting 'Discarding record with invalid key...(org.apache.kafka.connect.storage.KafkaStatusBackingStore)'"
While using the file connector to monitor the filesystem, I am seeing numerous instances of the below warning in the container logs:

`2020-10-27 03:29:28,064 WARN [KafkaBasedLog Work Thread - file-event-sender-status] Discarding record with invalid key connect-file-pulseevent-log-source.{"name":"2020-10-27.3-events.log","path":"/var/log/events","inode":"152388092"} (org.apache.kafka.connect.stora

[2020-10-27 08:57] Skolim007 opened #86 "Using File Pulse with Azure Event Hub"
Hi,

It's not really an issue more a request for help. I wanted to do a quick PoC for using FilePulse to parse XML files. I was able to successfully sue the setup proposed in tutorial:
https://dev.to/fhussonnois/streaming-data-into-kafka-s01-e02-loading-xml-file-529i
I successfully used docker setup to run the processing on local host. But I'd like to test this also using Azure Event Hub. So I mod

[2020-10-27 09:38] fhussonnois commented on #85
Hi @shinlim, I think you have badly configured Connect File Pulse. Did you have overridden the Connect FilePulse `internal.kafka.reporter.topic` property ? The connector uses an internal topic to allow synchronization between connector and tasks. The default topic is `connect-file-pulse-status`. It seems you have configured it to the same topic than the internal topic used by connect workers; i.e.

[2020-10-27 09:41] fhussonnois commented on #83
Yes that would be the idea. So for example with `allow.tasks.schedule.after.timeout.ms=0` then if a new file is detected all tasks will be re-configured immediately.

I will work on that new feature as soon as possible this week.

[2020-10-27 09:47] fhussonnois commented on #86
Hi @Skolim007,

The producer and consumer settings you have overridden with `internal.kafka.reporter.producer.*` and `internal.kafka.reporter.consumer.*` are used internally by Connect FilePulse to be able able to synchronize the connector and the tasks responsible for precessing files through the topic `connect-file-pulse-status`. You configured looks good.

Now you also need to configure the Jav

[2020-10-27 12:43] Skolim007 commented on #86
Thanks for help!

I modified the JSON request by adding those parameters:

[code]
And then got API error that override is not possible, so I added `CONNECT_CONNECTOR_CLIENT_CONFIG_OVERRIDE_POLICY: "All"` to docker compose, and this allowed API to accept the request.

But I'm still missing something... the messages do not go to the local kafka any more, but the don't also go to Event Hub :)
I see t

[2020-10-27 13:08] fhussonnois commented on #86
Do you have an exception in Kafka Connect Worker logs ? Furthermore, if the files have already been processed once by the connector, they will not be processed again. Try to add some new files.

[2020-10-27 13:12] shinlim commented on #85
You are right - that is what I have done. I will remove that override from the connector configuration and reply with the result.

Thank you.

[2020-10-27 13:19] #85 closed

[2020-10-27 13:20] shinlim commented on #85
This issue was resolved by removing the incorrect configuration of **internal.kafka.reporter.topic**

[2020-10-27 14:43] Skolim007 commented on #86
As for uploading new file (with different name) every time - I'm doing that and I'm using Delete Policy so I see when the files are processed (and now they are not removed).

Ad for errors in `kafka-connect.log` here is what I see:
[code]
...
[code]
I don't think it is any network issue because messaged for "connect-file-pulse-status" topic get to azure without problems so it must be something dif

[2020-10-27 14:51] fhussonnois commented on #86
You have a lot of WARN and ERROR:

[code]
and

[code]

You only have overridden consumer/producer settings for the connector but the workers need to be configured as well.

Add you security configuration to the worker.properties file that you are using:

[code]

[2020-10-27 21:41] Skolim007 commented on #86
Thanks again - I'm using the default docker image provided with the tutorial `streamthoughts/kafka-connect-file-pulse:latest`  with the docker compose
[code]
But I have trouble understanding where is location of .properties file that is used as worker.properties in this case?

[2020-10-28 12:37] juancamilosalazar commented on #84
Hello, is it possible to implement something like this? Or am I looking for other alternatives? Thank you

[2020-10-28 13:50] fhussonnois commented on #86
The connect-file-pulse image is based on the `cp-kafka-connect-base`. You can override any connect setting using Docker env variables, e.g., CONNECT_PRODUCER_OVERRIDE_SASL_MECHANISM="PLAIN"

[2020-10-28 14:10] fhussonnois commented on #84
Hi @juancamilosalazar, the Dead Letter Queue is a mechanism which is part of Kafka Connect, but only supported for Sink Connectors only, i.e., you cannot use it with Connect File Pulse.

But, YES it should be possible to implement something similar.

The `io.streamthoughts.kafka.connect.filepulse.filter.FailFilter` will throw an exception and the file will be marked as FAILED. So, I think this is

[2020-10-28 14:45] #69 closed

[2020-10-28 15:49] juancamilosalazar commented on #84
Oh thank you very much, you just saved my life, I had not thought of using the AppendFilter, really thank you very much, greetings.

[2020-10-28 15:49] #84 closed

[2020-11-10 15:01] fhussonnois opened #87 "DelimitedRowFilter does not convert fields based on the provided columns types"

[2020-11-10 15:03] fhussonnois opened #88 "Add SCEL function split"

[2020-11-10 15:07] fhussonnois opened #89 "Update Dockerfile base image to confluentinc/cp-kafka-connect-base:6.0.0"

[2020-11-11 16:09] #87 closed

[2020-11-11 16:09] #88 closed

[2020-11-11 21:31] fhussonnois commented on #83
Hi @shinlim, I'm closing this issue because the new parameter is available in this new release : https://github.com/streamthoughts/kafka-connect-file-pulse/releases/tag/v1.6.0

The new property is `allow.tasks.reconfiguration.after.timeout.ms`

[2020-11-11 21:31] #83 closed

[2020-11-12 00:10] shinlim commented on #83
Thank you so much for developing this feature! I will test it out and provide feedback in the next week.

Best regards
Shin

[2020-11-13 09:21] NaN-7 opened #90 "File Pulse connector - Not picking files from local directory"
I need to push XML files from local directory to kafka topic . Connector is detecting the files in the directory as tasks but not processing them to topic.

There is no error in log.
[Connector.txt](https://github.com/streamthoughts/kafka-connect-file-pulse/files/5535864/Connector.txt)

[2020-11-13 09:32] fhussonnois commented on #90
Hi @NaN-7, which version of File Pulse are you using ? Also, could you share your connector's configuration ?

[2020-11-13 09:56] NaN-7 commented on #90
"config":
{"connector.class":"io.streamthoughts.kafka.connect.filepulse.source.FilePulseSourceConnector",
"fs.scan.directory.path":"/confluent/confluent-5.5.0/bin/Test/",
"fs.scan.interval.ms":"10000",
"fs.scan.filters":"io.streamthoughts.kafka.connect.filepulse.reader.XMLFileListFilter ",
"file.filter.regex.pattern":".*\\.xml$",
"task.reader.class":"io.stresmthoughts.kafka.connect.filepulse.reade

[2020-11-13 10:06] fhussonnois commented on #90
Could you please try to use the latest version 1.6.0 which is not yet available on confluent-hub : https://github.com/streamthoughts/kafka-connect-file-pulse/releases/tag/v1.6.0

You can download the `.zip` file and install it using : `confluent-hub install --no-prompt streamthoughts-kafka-connect-file-pulse-1.6.0.zip`

[2020-11-17 12:19] NaN-7 commented on #90
Sadly , even after upgrading to 1.6.0 it didn't work . Task is not getting assigned to connector.
If there is any other way?

Thank You.

[2020-11-17 13:00] fhussonnois commented on #90
Hi @NaN-7, could you share me the connector application logs ? The connector should log informations while scanning the input directories. Also, is there any messages in the `connect-file-pulse-status` topic ?

[2020-11-17 21:13] NaN-7 commented on #90
I am attaching pictures for logs and connect-file-pulse-status topic logs, can't attach as a file as restricted by company policy.
Kafka topic name is "sangam_test_source". Please see if it could be of any help.
![connect-Filepulse topic logs](https://user-images.githubusercontent.com/41438298/99451106-b752b600-2947-11eb-8487-b2fd469ce797.jpg)
![Connector logs](https://user-images.githubuserconten

[2020-11-18 09:15] fhussonnois commented on #90
Hi @NaN-7, the file `t.xml` has been processed but with status `FAILED`. Once a file has been processed by the connector successfully or unsuccessfully, it is automatically ignored in the next scans (even if you restart the connector). The connector may have thrown an exception during the first run.

Try to rename your file so that it will be pickup again by the connector and watch the log file to

[2020-11-19 08:50] NaN-7 commented on #90
Hi @fhussonnois fhussonnois,
I have changed the name and added new files too ,created a new connector(with same configs) and ran again, still the same logs are coming (scheduled , failed  , cleaned).

Also on a separate note could you suggest a way to get XML files to a Kafka topic from a "middleware" kind of (don't have the exact details right now) server where are files are coming in real time t

[2020-11-23 07:11] NaN-7 commented on #90
Hi @fhussonnois , Each Line in input XML is coming as a separate message, could you please suggest a way past that?

[2020-11-24 02:49] bob-tran-goldenowl opened #91 "How to remove type when read customer in config request http://localhost:8083"

[2020-11-24 03:36] bob-tran-goldenowl commented on #91
@

[2020-11-24 03:36] #91 closed

[2020-11-24 04:52] bob-tran-goldenowl opened #92 "Convert CSV to JON"
how to i can convert csv to json?

[2020-11-24 11:01] fhussonnois commented on #92
Hi @bob-tran-goldenowl, The conversion to JSON or any other format is not performed directly by Connect File Pulse. This is done by the Kafka Connect Converters.  I suggest to you to read this article from Confluent : https://www.confluent.fr/blog/kafka-connect-deep-dive-converters-serialization-explained/

Basically, if you configure the JSONConverter then the records parses from CSV by FilePulse

[2020-11-25 17:49] #92 closed

[2020-11-26 03:46] bob-tran-goldenowl opened #93 "How create header in config request with file none header"
[code]
I want data output:

[code]

But:

[code]

[2020-12-02 09:11] fhussonnois commented on #93
Hi  @bob-tran-goldenowl, I'm sorry for the late reply. If your file contains an first line header you should first skip it by configuring the property `skip.headers=1`. You can use your first line heade to name each column using the property `filters.ParseDelimitedRow.extractColumnNam="headers"`

[2020-12-02 09:58] #93 closed

[2020-12-02 10:01] bob-tran-goldenowl commented on #93
Thank you very much! Have a good day

[2020-12-03 12:54] stuarthrichardson opened #94 "How to parse a multiple key/value row source"
Hi

I am new to this, I need help configuring the file pulse to parse a multiple key/value  source row and transform to a Json row.

Import row format
[code]

Output row format
[code]

I can deal with the fixing the date/times, as I have seen the an example for this.

I am assuming this is done by configurating the filtering, is there a way to do this?

By the way, the pulse file is an awesome sou

[2020-12-03 13:39] fhussonnois commented on #94
Hi @stuarthrichardson, thank you very much for your feedback.

First you need to configure the  Reader :
`"task.reader.class": "io.streamthoughts.kafka.connect.filepulse.reader.RowFileInputReader"`

Then, to parse each row it should be possible to chain:
1.  One [AppendFilter](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/filters/#appendfilter) with an expression t

[2020-12-04 10:47] akhileshacc opened #95 "In Version 1.6, function normalizeSchemaName() breaks if key name starts with underscore"
I have created a custom xml reader, which has key named "_id". I see that connector started to break on upgrading to version 1.6 from 1.3.
So, i tested the function locally, it seems to be breaking.

https://github.com/streamthoughts/kafka-connect-file-pulse/blob/999b906b724cfbc0cea968a3aa1aa094ae50a64f/connect-file-pulse-api/src/main/java/io/streamthoughts/kafka/connect/filepulse/source/internal/

[2020-12-04 20:20] fhussonnois commented on #95
Hi @akhileshacc, could you confirm me that you get an `java.lang.StringIndexOutOfBoundsException: begin 0, end 1, length 0` ?
Does the `_id` field a Struct ?

[2020-12-07 04:53] akhileshacc commented on #95
Yes I got the above error and `_id` is a field in my TypedStruct.

[2020-12-08 23:30] Hubbitus opened #96 "DelimitedRowFilter use naive and incorrect approach to split fields by String.split()"
Said we have file:
[code]
It is correctly quoted, but I got exception:
[code]

Because instead of `Office_addr=Lenina, 150` there appeared 2 values...

Input is perfectly correct CSV file according to [CSV RFC4180](https://tools.ietf.org/html/rfc4180)

I think there should be used [opencsv](http://opencsv.sourceforge.net/) or some other well-supported library for parsing.

[2020-12-09 04:33] jbandy67 opened #97 "Column definition with DelimitedRowFilter"
I just started testing this connector to ingest log files and I can't seem to get my reader configuration quite right.  I can get the examples to work but when I try to read a delimited log file with no headers I'm getting an error when I try to manually define the columns.

According to the documentation the DelimitedRowFilter columns configuration is defined as _The list of comma-separated colum

[2020-12-09 04:49] jbandy67 commented on #97
The record in the topic when column names are auto generated:
{
  "column1": {
    "string": "2020-11-22 04:39:03.8271"
  },
  "column2": {
    "string": "INFO"
  },
  "column3": {
    "string": "1"
  },
  "column4": {
    "string": "Provider name"
  }
}

Schema registry definition with auto generated columns:
[
  "null",
  {
    "type": "record",
    "name": "ConnectDefault",
    "namespace": "io

[2020-12-09 08:43] fhussonnois commented on #96
Hi @Hubbitus, you can actually use a more complex REGEX with the to `DelimitedRowFilter` parse your CSV file : `(?:^|,)(?=[^"]|(")?)"?((?(1)[^"]*|[^,"]*))"?(?=,|$)` .

But, Yes maybe we could provide a dedicated Filter that would be more efficient than the DelimitedRowfilter for CSV parsing.

[2020-12-09 08:50] fhussonnois commented on #97
Hi @jbandy67, columns must be separated using a semicolon, there is an error in the documentation.
[code]

Also, there is no `DATE` type.

But you can use the [AppendFilter ](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/filters/#appendfilter )with the [convert ](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/accessing-data-and-metad

[2020-12-09 08:53] fhussonnois commented on #95
Ok thanks, I will provide a fix for this issue.

[2020-12-09 09:10] Hubbitus commented on #96
@fhussonnois, thank  you for the answer, but your workaround also does not work:
[code]

[2020-12-10 02:11] jbandy67 commented on #97
Thanks @fhussonnois.  I have it working now.  I used a string for the date, I think I'm going to just convert it on the consumer end.  Appreciate the quick response.

[2020-12-10 02:11] #97 closed

[2020-12-10 15:12] stuarthrichardson commented on #94
I decided to go with the Grok expression, I have not been able to get this to work.  The Grok expression I am using works fine using the Grok expression test tool.

This Grok expression works with the test tool
`<133>Id= "%{DATA:id}" Type="%{INT:type}" Name="%{DATA:name}" Application="%{DATA:application}" AsAtDateTime="%{DATA:asatdatetime}".....`

I have tried
`MY_GROK_EXPR=<133>Id= "%{DATA:id}" T

[2020-12-10 16:02] stuarthrichardson commented on #94
Ok, I have set the the filters.ParseLine.match property to the Grok expression

`"filters.ParseLine.match": "<133>Id=\"%{DATA:id}\" Type=\"%{INT:type}\" Name=\"%{DATA:name}\" Application=\"%{DATA:application}\" AsAtDateTime=\"%{DATA:asatdatetime}\"....."`

Now getting the following output

`{"message":"<133>Id= "8adce0c9-2e65-11eb-8397-a08869f17097" Type="2" Name="Joe Smith" Application="java.exe"

[2020-12-10 16:08] stuarthrichardson commented on #94
Ok, using ExcludeFilter to remove the element.  You are seeing my learning curve....

[2020-12-10 16:19] fhussonnois commented on #94
Hi @stuarthrichardson , good to see you finally a solution to your problem. I'm just curious why the grok expression was not working using the external file. Did the Kafka Connect worker had access to your file ?

[2020-12-10 21:31] LGouellec opened #98 "Stream content file into topic"
Hi,

I want to stream content XML file into a Kafka topic. I check a folder, and for each xml file, I want create a message with key = null and value = content of file.

So I use this configuration in a local connect (Plugin File Pulse used : 1.5.0)
[code]

I just want the content file in my topic. That's why I use your  BytesArrayInputReader.
But in my topic, the value of my message is just the t

[2020-12-10 22:59] fhussonnois commented on #98
Hi @LGouellec, in FilePulse each reader create a basic `Struct` with a field `message`.  You can use the `ExtractField` transformer to extract the message field and replace the value : https://docs.confluent.io/platform/current/connect/transforms/extractfield.html

[2020-12-10 23:04] fhussonnois commented on #96
@Hubbitus, Yes the regex seems not valid for Java. This one should work : `("(?:[^"]|"")*"|[^,"\n\r]*)(,|\r?\n|\r)`

[2020-12-11 13:45] LGouellec commented on #98
Oh yeah, great !
I hadn't thought about it. Thank you for support.

So I close this issue.

[2020-12-11 13:45] #98 closed

[2020-12-13 16:07] aalmangour opened #99 "Schema is being auto created"
Dear All,

Thank you for this amazing connector. I'm using the connector to read from a file using the Grokfilter, it reads the file correctly but it always creating a new version of the schema in the schema registry with type String, null and a default of null.

I need the fields to not include nulls since I'll be doing some joins on the topic. I've tried disabling the "auto.register.schemas" in

[2020-12-14 17:31] stuarthrichardson opened #100 "[Enhancement] Support streaming files from a remote storage Blob, S3, etc"
Provide the ability to be able to support streaming files from a remote storage AWS, S3, etc.   After using the file-pulse connector, I am now having requirements to be able ingest data from files on remote storage as focus is moving to cloud storage.   More systems are dumping files into Azure blob storage and AWS S3 buckets, and this trend will only grow.

To support the different favours of rem

[2020-12-14 19:59] fhussonnois commented on #100
Hi  @stuarthrichardson, thank you for your proposal. You're right, it would be awsome to support remote storage in  Kafka Pulse. Actually you are not the first person to ask for that improvment.

But yes, some internal interfaces need to be updated to not use the java `File` object.

Here are then non-exhaustive list of classes that must be updated:

* [FSDirectoryWalker]( https://github.com/strea

[2020-12-15 13:59] stuarthrichardson commented on #100
Hey @fhussonnois, I am going to familiarize myself with the internal workings of this connector to help...

[2020-12-22 12:30] #95 closed

[2020-12-24 14:32] Hubbitus commented on #96
https://regex101.com/r/gDMGYN/1

Prroblem wit that what quotes also captured:
![image](https://user-images.githubusercontent.com/720349/103094271-01494e80-460e-11eb-94ba-406a7791aec6.png)

[2020-12-29 21:16] theredmoose opened #102 "Loading JSON file using RowFileInputReader"
I am trying to stream a JSON file into Kafka using RowFileInputReader and I get a status as failed.  The JSON file has one JSON record per line and is gz.  My setup (kafka using docker) is as described in "Streaming data into Kafka S01/E03 — Loading JSON file".   Here is my config file.

I am wondering if the error occurs because there is no source object such as "message".
"filters.ParseJSON.sour

[2020-12-29 22:05] theredmoose commented on #102
I tried producing the message without it being compressed and it worked.  So it has something to do with the .gz.  However, I read FilePulse should check for the compression by default correct?

[2020-12-30 11:04] #99 closed

[2020-12-30 20:51] theredmoose commented on #102
Sorry I am not sure if this is the right place to ask these questions but I wanted to clarify what the options below should be if I am using RowFileInputReader for parsing JSON files.

"filters.ParseJSON.source":"message",  > this value seems to work even though there is no "message" JSON field.
"filters.ParseJSON.explode.array":"false",  > I believe in my example above this is not relevant since

[2020-12-31 01:20] sbanga opened #103 "Controlling the interval for streaming data"
Hi!

While reading data from a CSV file and streaming it, I would like to set the time interval (say, 1ms or 10s) for reading each line of data and streaming it. This would allow me to create a truly real time streaming effect for IoT data. I did explore tweaking the read.max.wait.ms parameter, but apparently that parameter has a different purpose.

Is there an easy way to accomplish what I'm tryi

[2021-01-04 10:23] fhussonnois commented on #103
Hi @sbanga, the `read.max.wait.ms` config property is used to wait fore more data when the task has reached the end of file. Currently, there is no mechanism to wait before sending next records.

If this is only for testing purpose you can write a simple bash script that sleep for 1 sec before writing a new record to a CSV file.

[2021-01-04 10:41] fhussonnois commented on #102
Hi @theredmoose, currently FilePulse supports the following content-types:
* `application/x-tar`
* `application/x-gzip`
* `application/x-zip-compressed`
* `application/zip`

You should first to check if one of these type match your file.

The `RowFileInputReader` will create a `Struct` object for each row with the a field `message` containing the data.
You can then use the `JSONFilter` to parse th

[2021-01-04 18:05] sbanga commented on #103
Thanks @fhussonnois. The approach you outlined is what I have currently implemented.

[2021-01-05 09:11] #89 closed

[2021-01-06 19:14] theredmoose commented on #102
Thank you

[2021-01-06 19:14] #102 closed

[2021-01-07 14:40] theredmoose opened #104 "Getting Failed Status when using gzip files"
I am getting an error when I try and process a gzip file. The file is successfully processed if I unzip it.  Is there a place with more verbose status message?

Here is the FilePulse Status
[code]

I know the file is of type gzip:
$ file -i part-00002.gz
part-00002.gz: application/x-gzip; charset=binary

Here is my config file
[code]

[2021-01-27 10:21] guilleGH opened #105 "I can't get it to read the file continuously, putting each new line in the Topic"
I have FilePulse correctly configured, so that when I create a file inside the reading folder, it reads it and ingests it in the topic.
Now I need to do continuous reading of each of the files in that folder, since they are continually being updated.
I have to change any property of properties file?

My filePulseTxtFile.properties:

name=connect-file-pulse-txt
connector.class=io.streamthoughts.kaf

[2021-01-27 14:13] fhussonnois commented on #105
Hi @guilleGH

For doing continious reading you need to add this property `read.max.wait.ms` which is the maximum time (in milliseconds ) the `RowFileInputReader` will wait for more bytes after hitting end of file.

In addition, if new files are added to the input directory they will not be processed because tasks are still running for previous files. So, you can configure the `allow.tasks.reconfig

[2021-01-29 08:39] guilleGH commented on #105
thank you very much, it works

[2021-02-01 11:33] dlecina opened #106 "CSV with repeated column"
Hello,
I have a CSV file with repeated columns, exported from Jira:
[code]
This happens because Jira allows tickets to be included in multiple sprints, resulting in a repeating column in the case that one of the rows is included in as many sprints.

When trying to run it through the connector, I get the following error:
```io.streamthoughts.kafka.connect.filepulse.data.DataException: Cannot create

[2021-02-01 11:37] dlecina commented on #106
I should also add that hardcoding the fields (such that I can rename each sprint column to something else) is not practical, as the number of Sprint columns will depend on which tickets are included in the Jira export, and thus change over time.

[2021-02-02 17:02] Joao-Garcia-Bras opened #107 "Connector reads first file but not new files"
Hello,

I'm trying to read .csv files from an input directory. The first file I drop there works just fine and is sent to the output topic, and reaches the status COMPLETED in the "connect-file-pulse-status" topic. Any other files I drop there are not read, since it seems that the task is never finished, even though it has finished the file. However, if I restart the connector, it reads all those

[2021-02-04 07:53] fhussonnois commented on #106
Hi @dlecina, Yes currently the `DelimitedRowFilter` doesn't support repeated column. So the filter needs to be improved and unfortunately there is no easy way to deal with that using other FilePulse filters. I will work on a patch as soon as possible.

[2021-02-04 08:07] fhussonnois commented on #107
Hi @Joao-Garcia-Bras, can you give the vesion of the FilePulseSourceConnector you are using ? Also, a task is considered to be finished once all scheduled files has been cleanup. So the final status should be `CLEANED`. Did you see any thrown exception ?

[2021-02-04 09:29] dlecina commented on #106
Great to hear, thanks @fhussonnois. Ideally, I would expect that when a repeated column is found, it is interpreted as an array, but maybe it should be configurable in case someone wants to keep the error behavior.

[2021-02-04 09:56] Joao-Garcia-Bras commented on #107
Hi @fhussonnois , I managed to get this working, the connector config was missing the "internal.kafka.reporter.id" property. I think it would be a nice feature to make the connector throw an exception for this, since many of the "high" importance properties fail fast and specify the missing config.

[2021-02-04 10:04] Joao-Garcia-Bras opened #108 "Connector throws exception when using AppendFilter"
Hi,

The connector fails when using the append filter to add a new column name. I am using the latest version 1.6.1 as a docker image from dockerhub. Removing the curly brackets from the value, or just setting a hardcoded string results in the same exception.

Config:
[code]

The exception is:

[code]

The full config below:

[code]

[2021-02-04 19:18] bwinchester commented on #56
@fhussonnois, Did you end up getting this to work? Finding the same issue where empty arrays are causing a nullpointer exception. Did you just give up and write something to remove arrays?

[2021-02-05 08:12] fhussonnois commented on #107
Hi @Joao-Garcia-Bras, the `internal.kafka.reporter.id` is deprecated since Connect File Pulse 1.3.x. FilePulse uses the connector name directly as a reporter id. Which version are you using ?

[2021-02-05 08:42] fhussonnois opened #109 "JSONFilter throws NPE when parsing empty Arrays"

[2021-02-05 08:42] fhussonnois commented on #56
Hi @bwinchester , the JSONFIlter currently supports Array (https://github.com/streamthoughts/kafka-connect-file-pulse/issues/47) but yes there is a bug when input file contains empty arrays, i.e., `[]`. I've just opened a new issue : https://github.com/streamthoughts/kafka-connect-file-pulse/issues/109

[2021-02-05 09:49] Joao-Garcia-Bras commented on #107
Hi @fhussonnois , I am using the kafka-connect-file-pulse:latest image from dockerhub, which in the files says version 1.6.1.

There was no exception, just the log message I pasted above :(

[2021-02-05 09:50] Joao-Garcia-Bras commented on #108
I managed to fix it, I needed to switch the filter order, so that DelimitedRowFilter goes before AppendFilter.

[2021-02-05 09:50] #108 closed

[2021-02-05 11:13] fhussonnois commented on #107
Hi @Joao-Garcia-Bras, I think  `internal.kafka.reporter.id` is not related to your issue.

I've failed to reproduce your issue, everything is working as expected using the Docker image.

Here is my test :

**Docker**
[code]

**Init directories**
[code]

Config :
[code]

[2021-02-05 12:56] #106 closed

[2021-02-05 12:56] #109 closed

[2021-02-05 12:58] fhussonnois commented on #106
@dlecina I've pushed a new bug fix version 1.6.2. You can nown configure the property `duplicateColumnsAsArray=true` for the `DelimitedRowFilter`

[2021-02-05 12:59] fhussonnois commented on #56
Hi @bwinchester, I've just pushed a new bugfix release 1.6.2 that fix the issue #109

[2021-02-05 18:53] bwinchester commented on #56
Thank you so much! We’re going to try it out. This is awesome!

[2021-02-09 16:19] fhussonnois commented on #100
Hi @stuarthrichardson, hope you're well, just an update to let you known that I push a new branch https://github.com/streamthoughts/kafka-connect-file-pulse/tree/subtask-support-remote-storage which contains the updates required to support remote storage. The  FSDirectoryWalker and FileInputReader interfaces has been updated.

[2021-02-10 13:35] fhussonnois opened #111 "[Enhancement] add support for AWS S3"
Create a new submodule `filepulse-S3-fs` in the module `connect-file-pulse-filesystems` add support for Amazon S3.

**Tasks**:
* Implement a new `AmazonS3FileSystemListing` class
* Implement a new `AmazonS3RowFileInputReader` class
* Implement a new `AmazonS3BytesArrayInputReader` class

[2021-02-10 14:04] fhussonnois opened #112 "[Enhancement] add support for Azure Blob Storage"
Create a new submodule filepulse-azure-fs in the module connect-file-pulse-filesystems add support for Azure Blob Storage.

**Tasks:**
* Implement a new AzureBlobFileSystemListing class
* Implement a new AzureBlobRowFileInputReader class
* Implement a new AzureBlobBytesArrayInputReader class

[2021-02-10 14:10] #100 closed

[2021-02-10 14:17] fhussonnois commented on #41
see: https://github.com/streamthoughts/kafka-connect-file-pulse/issues/111

[2021-02-10 14:17] #41 closed

[2021-02-12 20:38] fhussonnois commented on #100
Follow-up issues are :
* [Enhancement] add support for AWS S3 #111
* [Enhancement] add support for Azure Blob Storage #112

[2021-02-17 13:49] hirsche opened #113 "Document separation character for bootstrap servers"
I'd suggest that you document for the json install configuration schema (@ https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/configuration/), that multiple brokers in

internal.kafka.reporter.bootstrap.servers

need to be specified with space as separation character instead of comma. This I guess would be helpful for others.

Best
Eduard

[2021-03-02 21:03] alecomputacao commented on #48
Hi people.

Anyone make the configuration of archive .properties inside config dir to filepulse?

If anybody had a example please...

Thanks a lot.

[2021-03-08 16:34] the-mech opened #114 "The "Defining error filter chain" example fails on initialization"
Hey, I tried the example from the "Defining error filter chain" section of the docs, but unfortunately i cannot get it to work.

For filtering, I used the configuration provided by the docs:

[code]

And get the following error when starting the connector:
[code]

Thank you for looking into the issue.

I'm using kafka-connect-file-pulse 1.6.2

[2021-03-27 14:46] OneCricketeer commented on #113
Unless it's split, and reassembled, I don't think spaces are correct

Config should be made a list, though

https://github.com/streamthoughts/kafka-connect-file-pulse/blob/master/connect-file-pulse-plugin/src/main/java/io/streamthoughts/kafka/connect/filepulse/config/CommonConfig.java#L86

[2021-03-30 13:17] #114 closed

[2021-03-30 21:20] dmarupov opened #115 "Is it possible to determine beginning/end of file based on the first/last rows in the file?"
For example, if I have the following file content:
[code]

Is it possible to use `"Operation": "End Of File"` to mark it as file `COMPLETED`?
If there is a filter or some feature that would allow this? If not, would it be possible to implement this through some code change?

Thank you very much for your help.

[2021-03-31 09:29] fhussonnois commented on #115
Hi @dmarupov, currently I don't think you can mark a file `COMPLETED` using filter.

However, you can implement a custom [FileInputReader](https://github.com/streamthoughts/kafka-connect-file-pulse/blob/v1.6.3/connect-file-pulse-api/src/main/java/io/streamthoughts/kafka/connect/filepulse/reader/FileInputReader.java) and the JAR to the classpath of Kafka Connect Worker.

[2021-04-01 16:19] fhussonnois opened #118 "Migrate GrokFilter to use classes from grok-transformer"

[2021-04-01 19:12] #111 closed

[2021-04-04 19:45] #105 closed

[2021-04-04 19:46] #47 closed

[2021-04-05 08:17] #112 closed

[2021-04-05 18:39] fhussonnois opened #120 "[Enhancement] add support for Azure DataLake Storage"
Create a new submodule filepulse-azure-datalake-fs in the module connect-file-pulse-filesystems add support for Azure DataLake Storage

Tasks:
Implement a new AzureDataLakeFileSystemListing class

[2021-04-05 18:40] fhussonnois opened #121 "[Enhancement] Add support for Google Cloud Storage"
Create a new submodule filepulse-google-cloud-storage-fs in the module connect-file-pulse-filesystems add support for Google Cloud Storage

Tasks:

Implement a new GoogleCloudStorageFileSystemListing class
Implement a new GoogleCloudStorageRowFileInputReader class
Implement a new GoogleCloudStorageBytesArrayInputReader class

[2021-04-05 19:46] fhussonnois opened #122 "[Enhancement] add new property max.scheduled.files"
Add a new parameter `max.scheduled.files` to set the maximum number of files that can be schedules to tasks.

When having a very large number or files to stream (e.g, more than 10K) the generated configuration can be larger than the value of the `max.request.size` or `message.max.bytes` leading to the following error :

[code]

[2021-04-06 19:12] #118 closed

[2021-04-06 19:12] #122 closed

[2021-04-07 17:07] #121 closed

[2021-04-08 11:54] m4nuC opened #124 "Removing schema field"
I would like to remove a schema from the datapoint, I've tried using `transforms` but they seem to act only on the payload field. Are there any ways to remove the `schema` property on the data point ?

[2021-04-12 20:56] m4nuC opened #125 "Connector gets slowers over time when processing large CVS file"
We try to process a CSV file with half a million rows, the first 1k rows are pretty fast then it gets slower and slower and eventually never finishes. Memory usage also increases over time. Any ideas on what could be the cause of this? FYI our pipeline handles much larger loads when using different sources.

The currrent configuration looks like this:

[code]

[2021-04-13 09:22] fhussonnois commented on #125
Hi @m4nuC , thank you for reporting this issue. So far we have not noticed any problems. I will run some tests with big files.

Did you monitor the JVM and Garbage Collector ?

[2021-04-14 05:49] m4nuC commented on #125
Hi @fhussonnois, thanks for looking into this. I saw that you are implementing GCS and other storages which would be very handy for us.
Here is a [ sample file](https://storage.googleapis.com/validio_public_files/rand_data%20(1).csv) for a test. I did not monitor the JVM and Garbage collector, as I am not sure how to go about that (I am not a Java developer)

[2021-04-14 13:15] #124 closed

[2021-04-15 08:15] fhussonnois commented on #125
Hi @m4nuC, thank you for the sample file. I've made some test with it and I've run the connector with 1000 copies of your file. Everything seems to work as expected. Also, I didn't noticed any memoryleak by profiling the JVM (HEAP 2GB).

I also test with a 250MB file containing 10M rows and I didn't meet any issues.

So I have no idea where your problem lies. Have you allocated enough memory to yo

[2021-04-17 16:07] m4nuC commented on #125
Hi @fhussonnois, thanks for running the tests. I don't think it's a memory issue on the worker as we have been ingesting larger files with other connectors, also that issue was reproduced in 2 different environments. It is reassuring that you did not get the issue though, so I will keep digging and update if I find anything.

[2021-04-18 09:34] m4nuC commented on #125
@fhussonnois Could you by any chance share the connector settings that you used in your tests?

[2021-04-19 07:38] WaasimTawali opened #126 "DelimitedRowFilter unable to parse some CSV files"
Hello ,
i tried to parse a CSV file with DelimitedRowFilter but all my attempts failed , i tried all kinds of regular expressions without any results ,
this is the header of the CSV file : DATE/TIME,Request,Response,/Air:GetFaFList_3.0:In,/Air:UpdateFaFList_3.0:In,/Air:GetAllowedServiceClasses_3.0:In,/Air:UpdateServiceClass_3.0:In
is there a regex expression that i could use in the configuration f

[2021-04-20 19:13] bwinchester commented on #125
@m4nuC , your connect server's memory setting is quite important for this connector to work effectively. You don't need specialized settings, but you do need to set the JVMs memory and GC settings for any connectors to work well.

https://docs.confluent.io/platform/current/kafka/deployment.html#jvm

[2021-04-20 19:16] bwinchester commented on #125
we process GB + files with hundreds of millions of records in them and don't see issues with the producer keeping up. You could also have bad topic replication and min insync replica settings. The high availability topic settings from Confluent are 3 replicas and 2 min insync replicas, but the Max availability settings are 3 replicas and 1 min insync replica.

[2021-04-20 19:17] bwinchester commented on #125
@m4nuC tasks.max=5 will only work if you are trying to parallelize reading many files at once.

[2021-04-20 21:10] fhussonnois commented on #126
Hi @WaasimTawali, I'm sorry for the delay.  Are you getting an exception ? For example, the field `DATE/TIME` is not valid as Avro field name so you will not beable to generate an Avro schema from that header line.

One solution is to remove invalid characters such has `:` and `/`. For this, you can used the ConnectFilePulse `AppendFilter` before the `DelimitedRowFilter`.

For example:

[code]

[2021-04-22 06:58] m4nuC commented on #125
Thank you @bwinchester. That is valuable info. I will be running some tests and update once I put my finger on the issue

[2021-04-22 14:01] julienBaleizao opened #128 "Disable schema generation"
Hello,

I have created my own AVRO schema to ingest my CSV data.
I have registered my schema in the schema registry.

When I launch the connector I get the following error:
`Caused by: org.apache.kafka.common.errors.SerializationException: Error registering Avro schema: ["null",{"type":"record","name":"ConnectDefault","namespace":"io.confluent.connect.avro","fields":[{"name":"message","type":["nul

[2021-04-22 14:12] julienBaleizao opened #129 "How to restart/delete INVALID task"
Hello,

If my connector failed processing one file it is no more possible to ingest new files.
I have the following log:
`connect               | 2021-04-22 14:06:32,145 INFO [FileSystemMonitorThread] Scheduled files still being processed: 1. Skip directory scan while waiting for tasks completion (io.streamthoughts.kafka.connect.filepulse.scanner.LocalFileSystemScanner)
`

How can I delete or rest

[2021-04-22 16:49] fhussonnois commented on #128
Hi @julienBaleizao,

The properties `auto.register.schemas` and `use.latest.version` should be passed as follows :

[code]

Note that these properties are part of the Confluent Avro Converter not Kafka Connect FilePulse: https://docs.confluent.io/platform/current/schema-registry/connect.html#configuration-options

[2021-04-26 07:53] julienBaleizao commented on #128
Hi,

I have set the properties but the Avro converter is still trying to register the schema.

See my docker configuration:
[code]

Do you see something wrong in my configuration ?

Thanks.

[2021-04-26 08:30] julienBaleizao commented on #128
ok it's my fault the wright property is CONNECT_VALUE_CONVERTER_AUTO_REGISTER_SCHEMAS and not CONNECT_VALUE_CONVERTER_AUTO_REGISTER_SCHEMA.

Everything is working fine.

Thank you for your help.

[2021-04-26 08:50] julienBaleizao commented on #128
I just see that the property CONNECT_VALUE_CONVERTER_LATEST_COMPATIBILITY_STRICT is not working.

Do you know how to set the property latest.compatibility.strict ?

[2021-04-27 13:44] m4nuC commented on #125
After some monitoring of the JVM memory seems fine, it peaks but eventually gets garbage collected.
However monitoring the JMX metrics, the `batch-size-max` on the producer seems to increase linearly until it gets larger than the allowed max. At that point, the task dies and doesn't restart (but the connector keeps on pooling).
 @fhussonnois @bwinchester would that help to point to a potential cau

[2021-04-28 20:16] m4nuC commented on #125
Issues solve. Came down to few configuration adjustments but what made the biggest improvement was to not modify the event headers inside an SMT.

[2021-04-28 20:16] #125 closed

[2021-04-28 21:51] fhussonnois commented on #125
Hi @m4nuC, finally is your issue was related to Connect FilePulse ? This is to know if we need to investogate additional improvements ? Thanks

[2021-04-29 06:00] m4nuC commented on #125
@fhussonnois, somewhat yes, for some reason, when adding an SMT that modifies the event headers, then the speed decay behaviour shows up. I've tested with quite a few other connectors and that did not happen.

For info, here a simplified version of the SMT:

[code]

[2021-04-29 07:51] fhussonnois commented on #125
Thank you for you answer. This is quite strange as the management of SMTs is not tied to the connector itself and is managed directly by the Kafka Connect framework. So I don't see why there would be a loss of performance over time. The only thing is that FilePulse also adds headers but before executing the SMTs chain.

[2021-05-05 07:11] gvdonovan opened #131 "Need to add metadata to ouptut"
I need to ingest a CSF file that will be processed by consumers when the file is fully ingested.  Assuming I have the following file foo.csv:

first_name, last_name
Biff,Tannen
Foo,Bar

How can I add metada to the output so that what ultimately gets written to a db is:
[
{file_name: "foo.csv", file_date: 14134131341341, first_name: "Biff", last_name: "Tannen"},
{file_name: "foo.csv", file_date: 14

[2021-05-05 07:40] fhussonnois commented on #131
Hi @gvdonovan, you can use the filter chain mechanism of Connect FilePulse to add headers to payload using the  [AppendFilter](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/filters/#appendfilter).

Here is an example :
[code]

[2021-05-05 07:53] gvdonovan commented on #131
adding this now:
filters.AppendHeaderFileName.type=io.streamthoughts.kafka.connect.filepulse.filter.AppendFilter
filters.AppendHeaderFileName.field="$value.file_name"
filters.AppendHeaderFileName.value="{{ $metadata.name }}"

[2021-05-05 07:59] gvdonovan commented on #131
docker run --tty --network=host edenhill/kafkacat:1.6.0 kafkacat         -b localhost:9092         -t musics-filepulse-csv-99         -C -J -q -o-1 -s key=s -s value=avro -r http://localhost:8081 | jq .payload.ConnectDefault

results in:
parse error: Invalid numeric literal at line 1, column 2

I'm literally just appending to your blog

[2021-05-05 08:05] gvdonovan commented on #131
OK - I see that my initial curl statement had the wrong topic - had csv-01 instead of csv-xx.  When I corrected that I get the output when running the above but the filename is not present:

$ docker run --tty --network=host edenhill/kafkacat:1.6.0 kafkacat -b localhost:9092 -t musics-filepulse-csv-xx -C -J -q -o-1 -s key=s -s value=avro -r http://localhost:8081 | jq .payload.ConnectDefault
{
  "t

[2021-05-05 08:14] gvdonovan commented on #131
I created another connector with the following:

curl \
    -i -X PUT -H "Accept:application/json" \
    -H  "Content-Type:application/json" http://localhost:8083/connectors/source-csv-filepulse-aa/config \
    -d '{
        "connector.class":"io.streamthoughts.kafka.connect.filepulse.source.FilePulseSourceConnector",
        "fs.scan.directory.path":"/tmp/kafka-connect/examples/",
        "fs.sca

[2021-05-05 08:37] gvdonovan commented on #131
OK @fhussonnois  - I got it.... had to change the "filters" definition in the curl statement to
[code]

Now on to figuring out how to get this in the db.

[2021-05-05 08:37] #131 closed

[2021-05-06 11:47] itoprover opened #132 "Failed to convert record field when loading XML, Types do not match STRUCT<>ARRAY"
io.streamthoughts.kafka.connect.filepulse.data.DataException: Failed to convert record field 'PartNumber' to connect data. Types do not match STRUCT<>ARRAY\n\tat io.streamthoughts.kafka.connect.filepulse.source.internal.ConnectSchemaMapper.toConnectStruct(ConnectSchemaMapper.java:209)

Trying to load the following XML:

`<?xml version="1.0" encoding="UTF-8"?>
		<FormName RevMonth="06" RevYear="201

[2021-05-07 06:37] WaasimTawali commented on #126
Hello @fhussonnois  , thank you for the help

[2021-05-07 06:41] #126 closed

[2021-05-07 16:24] sscots opened #133 "gz files not being decompressed"
When I try to read a directory with a bunch of .gz files, the messages being sent to kafka appear to contain the garbled compressed data instead of the decompressed data.
I did confirm that my files types are indeed set as: application/x-gzip

Here is my config file:
[code]

[2021-05-10 12:16] ahmedalami opened #134 "The examples link in the documentation is broken."
The examples link in the overview documentation (Where should I go next?
 section) is unfortunately broken.

Thanks in advance for fixing it.

[2021-05-10 14:33] ahmedalami commented on #134
Thank you.
Still the url is not correct in the page https://streamthoughts.github.io/kafka-connect-file-pulse/docs/overview/filepulse/

It's also the case for the "Getting Started" link.

[2021-05-10 14:46] ahmedalami opened #135 "Submit the latest release of the connector in Confluent hub"
Can you please update the connector confluent hub with the latest version : [1.6.3](https://github.com/streamthoughts/kafka-connect-file-pulse/releases/tag/v1.6.3).
[1.5.0](https://www.confluent.io/hub/streamthoughts/kafka-connect-file-pulse) is the last registered version in Confluent Hub.

[2021-05-10 20:59] sscots commented on #133
Do I need to set the "file.encoding" config for the RowFileInputReader to "x-gzip" or something?

[2021-05-11 17:12] sscots opened #137 "Adding host name to the message"
I'd like to add the hostname as a value to my kafka message payload to know what host the message was generated from.
In the status message I do see a "props" value that has the hostname. I was wondering how I can add that to my message using the AppendFilter, or if there was another way?

[2021-05-11 21:26] sscots commented on #137
@fhussonnois Thanks, the header should be sufficient enough for me.

[2021-05-12 08:49] #137 closed

[2021-05-12 09:12] fhussonnois commented on #134
Thank you for reporting this issue. Links have been fixed.

[2021-05-12 09:12] #134 closed

[2021-05-12 09:39] fhussonnois commented on #132
Hi @itoprover, could you try to add this property to you configuration : `"force.array.on.fields": "PartNumber"` ?

[2021-05-12 20:30] fhussonnois commented on #133
Hi @sscots, could you use with Connect FilePulse 2.0.0.RC1 : https://github.com/streamthoughts/kafka-connect-file-pulse/releases/tag/v2.0.0-RC1 to see if this version fix your issue ?

Note, that your configuration should be updated as follows because this new major version introduces some notable changes :

[code]

[2021-05-12 21:16] sscots commented on #133
I downloaded and tried running new version but got this error:

[code]

I'm running this outside of docker using the "plugin.path" configuration in kafka connect. So I just downloaded the zip, unzipped it where my current file-pulse directory is and move the old file-pulse version out.

[2021-05-13 16:09] fhussonnois commented on #133
Under your `plugin.path` directory unzip the [connect file-pulse archive](streamthoughts-kafka-connect-file-pulse-2.0.0-RC1.zip
) into a subdirectory with a name like `kafka-connect-file-pulse` then start the Connect Worker.

Normally, you should get this log in Kafka Connect:
 `INFO Added plugin 'io.streamthoughts.kafka.connect.filepulse.source.FilePulseSourceConnector' `

[2021-05-13 16:37] sscots commented on #133
I do not see the message:
```INFO Added plugin 'io.streamthoughts.kafka.connect.filepulse.source.FilePulseSourceConnector'```

If I do the exact same process with the previous version 1.6.3, I do see the "Added plugin" message and it works fine.
Then if I go back and redo everything the same way but with the new v2.0.0, I don't see the "Added plugin" message before it throws the error.

The older

[2021-05-13 17:47] fhussonnois commented on #133
I just tested with the new version and everything works.

Base on your application logs, the `plugin.paths` property should be equal to `/collector/producer/kafka-connect/`, and inside the directory `kafka-connect-file-pulse` you should have something similar to :
[code]

[2021-05-18 16:06] fhussonnois commented on #135
Hi @ahmedalami, FilePulse 1.6.3 is now available on ConfluentHub: https://www.confluent.io/hub/streamthoughts/kafka-connect-file-pulse

[2021-05-18 16:06] #135 closed

[2021-05-19 21:43] fhussonnois opened #138 "add InMemoryStateBackingStore for tracking status of file objects"

[2021-05-19 21:45] #138 closed

[2021-05-20 20:27] fhussonnois opened #139 "add support for auto-creating the internal topic used by ConnectFilePulse"

[2021-05-20 21:20] #139 closed

[2021-05-26 12:47] ozimos opened #141 "MoveCleanupPolicy class not available in 2.0.0-RC1 and 2.0.0-RC2"
I get the error below with 2.0.0-RC1 and 2.0.0-RC2

[code]
I had to add two properties below (not mentioned in the documentation) to reduce the errors to the single error above

[code]

Here is my connector.properties

[code]

[2021-05-26 13:28] fhussonnois commented on #141
Hi @ozimos, the good package/class is `io.streamthoughts.kafka.connect.filepulse.fs.MoveCleanupPolicy`.

However, I don't understand why you've got an error with the `fs.scan.directory.path` property which has been removed in 2.0.0-RC1

[2021-05-26 16:25] ozimos commented on #141
Thank you. This fixes my issue

[2021-05-26 16:25] #141 closed

[2021-05-31 14:37] aspedrosa opened #142 "Decimal numbers not being correctly parsed"
I was using the ParseDelimitedRow filter and set the columns config, where some of the columns were double. I end up with parsing problems for valid inputs such as `2.434534534`.

Currently, the code to parse both floats and doubles is similar to this
[code]

The [`isNumber`](https://github.com/streamthoughts/kafka-connect-file-pulse/blob/13eed7bcb2f25d7ed00a4e4a4cab39ef153b37e8/connect-file-pulse

[2021-06-07 09:11] kbegrow opened #143 "define charsets for UTF8"
Hi,
its rather a question than an actual bug,
but is there any way to define the charset for the csv files the connector is going to import in the connectors configuration?
Also is there any filter which could remove doubles quotes from the whole files?

Both can be done indeed before in other ways but I am pretty sure the connector is a way more powerful and I just don't use it.

Thank you in adv

[2021-06-08 16:42] fhussonnois commented on #143
Hi @kbegrow

Which version of FilePulse are you using ?

You should be able to configure the property `file.encoding` which is used to configure the [`RowFileInputReader`](https://github.com/streamthoughts/kafka-connect-file-pulse/blob/v1.6.3/connect-file-pulse-plugin/src/main/java/io/streamthoughts/kafka/connect/filepulse/reader/RowFileInputReaderConfig.java).

By default, the encoding is UTF-8.

[2021-06-09 09:11] kbegrow commented on #143
I using the version 1.6.3.
The 3rd party CSVs I get are unfortunately in windows-1252 so I had some issues regarding some special characters.

I will check out the AppendFilter for the removing then. Thank you

[2021-06-09 09:44] kbegrow commented on #143
@fhussonnois sorry for bother you, can I also delete a specific line in a CSV file using AppendFilter?

[2021-06-10 19:57] #142 closed

[2021-06-10 20:02] fhussonnois commented on #143
HI @kbegrow, you can chain multiple filters with FilePulse.

For removing some line you can use the [DropFilter](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/filters/#dropfilter). In addition, to convert/cast field to float you can use the `AppendFilter` with an expression using the built-in function `convert`: https://streamthoughts.github.io/kafka-connect-file-p

[2021-06-10 20:03] fhussonnois commented on #120
the azure-blob-storage should be use for Azure DLS.

[2021-06-10 20:03] #120 closed

[2021-06-14 12:08] kbegrow commented on #143
Hi @fhussonnois;
thank you. Yes the drop filter I've figured out in the meanwhile.
For the convert function I might doing something wrong but I guess the convert has the same issue as the standard STM from connect because it seems to fail to transform a STRING to FLOAT since it expects a "." instead of "," which is caused by the customers local which ends up comma separated numbers in the CSVs.

E

[2021-06-14 12:36] fhussonnois commented on #143
Hi @kbegrow, if you use Connect FilePulse 2.0.0 the connector automatically replace `,` with `.`. Otherwise, Yes you can use the AppendFilter for doing the replacement.

[2021-06-14 16:01] kbegrow commented on #143
Hi @fhussonnois, last time I have checked, 2.0.0 was still a release candidate.
Is there any release date set? I'll also interested in the azure blob storage so I would switch to version 2.0.0 as soon as its stable.

[2021-06-14 16:02] fhussonnois commented on #143
@kbegrow : 2.0 is Released!

https://github.com/streamthoughts/kafka-connect-file-pulse/releases/tag/v2.0.0
https://streamthoughts.github.io/kafka-connect-file-pulse/blog/2021/06/10/connect-filepulse-2.0-is-available/

[2021-06-14 17:00] kbegrow commented on #143
Thank you @fhussonnois
So in version 2.0.0 I could do following and it would convert STRING "9,00" into a FLOAT 9.00, correct?

[code]

[2021-06-15 07:34] fhussonnois commented on #143
Hi @kbegrow, Yes with `filters=Converter1,Converter2,Converter3,Converter4`

[2021-06-15 11:04] kbegrow commented on #143
@fhussonnois it seems that the 2.0.0 file pulse connector has issues getting loaded on connect 5.5.3. I copied the zip in the plugin path location, unzipped it and its not even recognized by connect after restarting. the same procedure works fine with 1.6.3.
As it seems 2.0.0. is not yet on confluent hub too.

So I might need to upgrade my connect version?

[2021-06-15 12:17] kbegrow commented on #143
@fhussonnois the 2.0.0 version only works with connect 6.x , correct?
It seems like its getting completely ignored with my connect 5.5.3 / 5.5.4 cluster

[2021-06-15 12:24] fhussonnois commented on #143
@kbegrow, I think the 2.0.0 should work with connect 5.x, but it's possible the connector is not yet available on confluent-hub. did you try to install it directly from the zip archive available on the GitHub Releases page ?

[2021-06-15 12:27] kbegrow commented on #143
@fhussonnois I did actually both - the zip archive into plugin path as well as using confluent hub install (if you use latest there, it installs 2.0.0).
Result is the same in both cases, the connector gets not loaded.
With 1.6.3 it works fine:

[code]

[2021-06-15 12:51] DestroyerAlpha opened #144 "Getting ArrayIndexOutOfBoundsException"
I am trying to read a JSON Array.
Configuration for the source is as follows:
`{
   "connector.class":"io.streamthoughts.kafka.connect.filepulse.source.FilePulseSourceConnector",
   "fs.listing.directory.path":"/tmp/connect-data/",
   "fs.listing.filters":"io.streamthoughts.kafka.connect.filepulse.fs.filter.RegexFileListFilter",
   "file.filter.regex.pattern":".*\\.json$",
   "task.reader.class":"

[2021-06-15 12:55] DestroyerAlpha commented on #144
The version that I am using is `streamthoughts/kafka-connect-file-pulse:2.0.0-RC1`

[2021-06-16 09:46] vdesabou opened #145 "Wrong name for LocalBytesFileInputReader ?"
The documentation references `LocalBytesFileInputReader`, but I get:

[code]

Shouldn't it be `LocalBytesArrayInputReader` instead ?

[2021-06-16 18:54] kbegrow commented on #143
@fhussonnois I updated today our whole STAGING cluster for connect as well as brokers. And as you said, the plugin loads without issues. I check if everything else is running before role it out to production indeed.
I will check the file pulse configs with the filters tomorrow and let you know. The connector and the new features looks very promising and should fit to our needs. :-)

Its might be a

[2021-06-25 12:24] #143 closed

[2021-06-25 12:37] kbegrow opened #146 "No status logs in internal topic with v.2.0.0 / NPE"
Hi @fhussonnois
I discovered a strange behavior in 2.0.0 with the internal topic.

 If I let auto create the internal topic connect-file-pulse-status (e.g. 10 partitions, replication factor 1) + using KafkaFileObjectStateBackingStore none of my connectors are actually pushing the status inside this topic. It just keeps empty.

 If I create the topic before I get an NPE.

 In general files getting

[2021-06-25 14:34] kbegrow commented on #146
I've got it fixed, it seems there was some general issue. I'll going to close this ticket.

[2021-06-25 14:34] #146 closed

[2021-06-28 12:44] fhussonnois commented on #145
The documentation has been fixed. Thank you for reporting the issue.

[2021-06-28 12:44] #145 closed

[2021-07-14 14:23] kbegrow commented on #42
@fhussonnois I'm running into this issue since I use 2.0 in some cases. its the same NPE and it is connected with the connect-file-pulse-status & KafkaFileObjectStateBackingStore.
But I have 3-node cluster of connect as well as brokers. The topic gets auto created with 30 partitions and replication factor of 3. (its defined as default from broker side).
This topic is used by 6 connector instances.

[2021-07-14 14:39] kbegrow opened #147 "documentation error for StateBackingStore"
Hi,
in the documentation is a typo for the class name:
io.streamthoughts.kafka.connect.filepulse.state.InMemoryStateBackingStore

This correct classname is actually:
io.streamthoughts.kafka.connect.filepulse.state.InMemoryFileObjectStateBackingStore

Link:
https://streamthoughts.github.io/kafka-connect-file-pulse/docs/archives/v2.0.x/developer-guide/configuration/

[2021-07-14 14:49] bantam-mnelson opened #148 "Syntax for 'exists' ScEL Built-in Function references 'ends_with' instead"
On the Built-in Functions section of the Accessing Data and Metadata page, the Syntax column of the exists function shows the ends_with function instead of the exists function.

[Accessing Data and Metadata > Built-in Functions](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/accessing-data-and-metadata/#builtin-functions)

[2021-07-14 18:25] fhussonnois commented on #42
Hi @kbegrow, could you please create a new issue with the exception stacktrace ? I will investigate to find any NPE cause.

[2021-07-15 08:32] kbegrow opened #149 "random a NPE using version 2.0 with KafkaFileObjectStateBackingStore and multiple connector instances"
Hi @fhussonnois ,
as bespoken before, I open a new ticket for this.
I get randomly a NPE when using version 2.0 with `KafkaFileObjectStateBackingStore` +  Topic `connect-file-pulse-status` in a 3 node cluster environment. (3x connect, 3x broker).
The topic was auto created by another connector instance and has 30 partitions + replication factor of 3.
We have multiple instances for different types

[2021-07-22 18:39] #149 closed

[2021-07-22 18:52] #147 closed

[2021-07-22 19:54] #148 closed

[2021-07-23 20:07] fhussonnois commented on #144
Hi @DestroyerAlpha, my apologies for the late reply. I've failed to reproduce your issue using file-pulse 2.0.0 and the file you provided. Everything seems to be working as expected.

Below is the configuration which is compatible with the last FilePulse version :

[code]

[2021-07-23 20:27] fhussonnois opened #150 "FileSystemMonitorThread can crash if an exception occurred while getting file metadata"
[code]

[2021-07-30 12:47] fhussonnois opened #151 "DefaultSourceOffsetPolicy may throw a NullPointerException when file is not accessible anymore"
**Examples**
[code]

[2021-07-31 21:22] #150 closed

[2021-07-31 21:22] #151 closed

[2021-08-02 11:42] fhussonnois opened #152 "Tasks can fail when object files are cleanup while requesting new configuration"

[2021-08-02 11:50] #152 closed

[2021-08-02 13:08] fhussonnois opened #153 "ClassCastException when offset.attributes.string=inode"
[code]

[2021-08-02 13:15] fhussonnois opened #154 "Default value for offset.attributes.string should be: 'uri'"

[2021-08-02 13:16] #153 closed

[2021-08-02 13:16] #154 closed

[2021-08-04 17:36] fhussonnois opened #156 "feat(filesystems): XMLFileInputReader should accept a config prop to enable XML validation."
The `XMLFileInputReader` should accept a new property `reader.xml.parser.validating.enabled` for specifiyng that the parser must validate documents as they are parsed

[2021-08-04 17:38] fhussonnois opened #157 "feat(filesystems): XMLFileInputReader should accept a config prop to enable parser XML namespaces support"
The `XMLFileInputReader` should accept a new config property `"reader.xml.parser.namespace.aware.enabled` to specify that the XML parser will provide support for XML namespaces.

[2021-08-04 17:40] fhussonnois opened #158 "fix(filtesystems) XMLFileInputIterator should properly handle node name containing invalid characters such as dot."

[2021-08-04 17:49] #156 closed

[2021-08-04 17:49] #157 closed

[2021-08-04 17:49] #158 closed

[2021-08-04 20:46] fhussonnois opened #159 "feat(filesystems): Improve XMLFileInputIterator add new props to exclude empty element"
XML documents can contain empty elements. Even if the Avro specification allows defining record types with no fields this may leads to error when using tools like kafkacat.

[code]
The `XMLFileInputIterator` should support a new config property to exclude empty elements.

[2021-08-04 22:08] #159 closed

[2021-08-06 20:50] fhussonnois opened #160 "XMLFileInputIterator fails to process complex XML documents containing arrays of arrays."

[2021-08-06 21:10] #160 closed

[2021-08-07 15:22] fhussonnois opened #161 "ffeat(plugin): allow to exclude from processing files that have not been modified since a given maximum time in ms"

[2021-08-07 15:33] #161 closed

[2021-08-07 17:16] fhussonnois commented on #13
Wont fix. This issue can be solved using the `allow.tasks.reconfiguration.after.timeout.ms` property.

[2021-08-07 17:16] #13 closed

[2021-08-07 17:18] fhussonnois commented on #1
Wont fix. This issue is now related to: https://github.com/streamthoughts/kafka-connect-transform-grok

[2021-08-07 17:18] #1 closed

[2021-08-07 19:10] OneCricketeer commented on #128
latest.compatibility.strict. Only applies when use.latest.version is set to true. (according to confluent docs), but again, that's a Confluent property, not related to file pulse connector

[2021-08-10 11:30] kbegrow opened #162 "Removing special characters with AppendFilter from csv."
Hello @fhussonnois,
I struggling a bit the the Append filter.
I am pretty sure I just do something wrong, since I haven’t used the Append filter til now.
How can I actually removing characters (in this case double quotes) like in this simple csv:
[code]
So the first line is the header and than there will be 1-n lines.
I would like to remove double quotes in header in values so I did a simple regex

[2021-08-10 13:22] fhussonnois commented on #162
Hi @kbegrow,

Can you share your complete configuration to better understand how you are processing your input file ? Also, I think it would be easiest to just cast the `Age`field into Integer instead of removing double-quotes ?

[2021-08-11 08:54] kbegrow commented on #162
[code]

[2021-08-11 14:38] fhussonnois commented on #162
Hi @kbegrow, the `ParseLine` should be the first filter to be applied in the chain.
So, you should try to change the `filters` property to : ` ParseLine,Rename1,Rename2,TransformFields1, TransformFields2` (order matters).

Note that if you rename data fields then make sure to also change the SCEL expression, i.e., `$.name` and `$.atler`

[2021-08-12 06:43] kbegrow commented on #162
Hi @fhussonnois,

thank you for your help. I made it. :)

[2021-08-12 15:08] kbegrow commented on #107
@fhussonnois we actually facing the same issue with version 2.0.0 in our production environment on a few of the connector instances.
For example I have two connector instances which are configured (almost) identical and the csv files are also pretty much the same. They containing two integer fields. They even running on the same connect node. one is working fine the second one read all the data bu

[2021-08-12 15:08] #162 closed

[2021-08-12 15:17] kbegrow commented on #107
@fhussonnois its the production system so I will need to test the new plugin first on staging environment.
Is there a reason why its not available via confluent-hub yet?
usually I try to avoid installing connectors by hand because our deployment usually works pipelines via jenkins and we install the needed connectors via the confluent hub.

I mean, I can do that for testing indeed.

[2021-08-12 21:37] fhussonnois opened #163 "Enhance XMLFileInputReader to support data type inference"
The `XMLFileInputReader` process all text node as `String`. The reader sho uld be able to infer the type of data (i.e., String, Long or Double\.

[2021-08-12 22:14] #163 closed

[2021-08-13 11:55] fhussonnois opened #164 "User should be able to configure Connect FilePulse to ignore all task exceptions"
Currently, SourceTask does not manage all exceptions that can be thrown when processing an input file in the same way.

For example, an exception is ignored if it was thrown while processing a record or when initializing a new iterator. In this case, the current file processing is marked as failed and the task automatically moves to the next file. Other exceptions just kill the task.

So, to make

[2021-08-13 15:01] #164 closed

[2021-08-20 20:02] pandapower opened #165 "Accessing Data and Metadata - documentation typos"
**Version**: 1.6.x

**Issue**:
I ran into errors building my connector following the [Record Offset documentation](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/archives/v1.6.x/developer-guide/accessing-data-and-metadata/#record-offset).

It looks like the following should be updated:
1. Instead of "Information only available if `RowFilterReader` is configured.", the class should

[2021-08-21 12:22] AzamAhmadloo opened #166 "Status topics have not removed"
Hi every body
I created some connectors and deleted them, but topics that created for connector status has remained and I cannot delete them.

I tried to delete topics from zookeepers and remove kafka log directories but topics created again.

This is my connector config:

{
    "name": "ALL",
    "config": {
        "connector.class": "io.streamthoughts.kafka.connect.filepulse.source.FilePulseSou

[2021-08-21 18:04] #58 closed

[2021-08-21 18:04] #66 closed

[2021-08-21 18:04] #70 closed

[2021-08-21 18:04] #86 closed

[2021-08-21 18:04] #90 closed

[2021-08-21 18:04] #94 closed

[2021-08-21 18:04] #103 closed

[2021-08-21 18:04] #104 closed

[2021-08-21 18:04] #96 closed

[2021-08-21 18:04] #48 closed

[2021-08-21 18:04] #113 closed

[2021-08-21 18:04] #115 closed

[2021-08-21 18:04] #129 closed

[2021-08-21 18:04] #132 closed

[2021-08-21 18:04] #133 closed

[2021-08-25 14:31] jciombalo opened #167 "Reproduce Tombstone messages from CSV"
We need to parse a CSV file where the fist column is de action performed (`C` = changed, `D` = deleted) in that row.

Eg.:
[code]

I have a first filter that sets the message key and it's working properly:
[code]

Now I'm trying to apply another filter to empty the value from the messages when its action = 'D' to simulate Tombstone messages, so the down streams can update their internal KTables by

[2021-08-30 12:51] Redanski commented on #128
Is there a way to make it possivle to have the connector register a schema manually, because i dont really want to disable the Schema Autogeneration, it works really well in other cases.

Basically provide a avsc file which will be registered for this connector?

[2021-08-30 14:20] fhussonnois opened #168 "SCEL expression 'null' is not well interpreted"
The `null` expression is supported by the FilePulse ScEL expression language. However, the expression is intererpreted by the parser as a string `''null'`.  The result is that we can't use it to force a field to be null using, for example, the `AppendFilter`.

[code]

[2021-08-30 14:27] #168 closed

[2021-08-30 14:28] fhussonnois opened #169 "Add a new NullValueFilter to explicitly set the record-value to null"

[2021-08-30 16:10] fhussonnois opened #170 "Connector should support nullable record-value"

[2021-08-30 16:17] #170 closed

[2021-08-30 16:17] #167 closed

[2021-08-30 16:21] fhussonnois commented on #167
Hi @jciombalo, thank you very much for this issue.  It will now be possible to set a record-value to null using your given example :

[code]

There was a problem with the interpretation of the expression `{{ null }}`. In addition, the `AppendFilter` has been improved to support that behavior.

[2021-08-30 16:24] fhussonnois commented on #166
Hi @AzamAhmadloo, which topics are you talking about exactly? Topics -config, -offset and -status are automatically created by Kafka Connect framework. Which version of the connector are you using ?

[2021-08-30 16:31] fhussonnois commented on #128
Hi @Redanski, currently it is not possible to pass a schema to the connector, a schema is automatically generated for each input record. This should be a new feature.

[2021-08-30 16:38] AzamAhmadloo commented on #166
Thanks for your reply.
Every created connector has two topics, one for data and another one for status that the topics are specifying in connector config. And these are my example topics:
"internal.kafka.reporter.topic": "online.data.status",
"topic": "online.data",

I'm using confluent-6.1.1 for kafka connect service.

I removed connectors and try to remove related topics. Data topic ( in my samp

[2021-08-30 16:50] #169 closed

[2021-08-31 10:03] Redanski commented on #128
Yes and every input that is generated is part of the confluent namespace "io.confluent.connect.avro" and has the record name "ConnectDefaul".
That is a problem if you generate Schemas for this, all of the resulting classes, atleast in java, have to be named ConnectDefault.

[2021-09-01 02:36] mohai-kafka opened #171 "DelimitedRowFilter different length in first line"
My usecase is I want to read .csv file but in that file first line contain less comma separate values than remaining lines like

first line : a,b,c
second line : x,y,z,a
third line : s,d,f,g

When i use RowFileInputReader with DelimitedRowFilter, i am getting following error

 **Error occurred while executing filter 'DelimitedRowFilter' on record='[name: message, type: STRING, value: 1,2,3,4, name

[2021-09-01 20:02] mohai-kafka commented on #171
Below my config.

{
  "name": "test123",
  "config": {
    "cleaner.output.failed.path": "/mnt/nexus-kafka-connect/platform/archive",
    "cleaner.output.succeed.path": "/mnt/nexus-kafka-connect/platform/archive",
    "connector.class": "io.streamthoughts.kafka.connect.filepulse.source.FilePulseSourceConnector",
        "filters": "DelimitedRowFilter",
    "fs.cleanup.policy.class": "io.streamthou

[2021-09-01 21:17] fhussonnois commented on #171
The complete error is `Error while reading delimited input row. Too large number of fields (4)`. Basically, you can't use the header line to name your field. You should either use the `autoGenerateColumnNames` property or the `columns` property to specify the column names.

[2021-09-01 21:28] mohai-kafka commented on #171
I tried autoGenerateColumnNames : true with below config and file content. getting below error.

Config :
 {
"name": "test123",
"config": {
"cleaner.output.failed.path": "/mnt/nexus-kafka-connect/platform/archive",
"cleaner.output.succeed.path": "/mnt/nexus-kafka-connect/platform/archive",
"connector.class": "io.streamthoughts.kafka.connect.filepulse.source.FilePulseSourceConnector",
"filters": "D

[2021-09-01 21:43] fhussonnois commented on #171
you should remove the `"filters.DelimitedRowFilter.extractColumnName": "headers"` property.

[2021-09-01 21:56] fhussonnois commented on #171
Yes, you have removed the header-line from the CSV file but you still have `"skip.headers": 1`.

[2021-09-01 21:59] mohai-kafka commented on #171
@fhussonnois Thanks. But my requirement is i need all the rows including first row. Could you please let me know.

[2021-09-02 08:31] fhussonnois commented on #171
Hi @mohai-kafka, if your file content is :

[code]

Then configuration should be :
[code]

you will get :

[code]

if `"skip.headers": 0,`

Then, you will get :

[code]

[2021-09-02 11:44] mohai-kafka commented on #171
@fhussonnois Thanks for the input. When i provide "skip.headers":0 I am getting below error.

File Content :
a,b,c
1,2,3,4

Config :

    "task.reader.class": "io.streamthoughts.kafka.connect.filepulse.reader.RowFileInputReader",
    "skip.headers": 0,
    "tasks.max": 1,
    "topic": "sampleTopic",
    "filters.DelimitedRowFilter.autoGenerateColumnNames": true,
    "filters.DelimitedRowFilter.sep

[2021-09-04 01:26] sscots commented on #3
+1

[2021-09-04 07:37] fhussonnois opened #172 "filesystem: add the capability to configure alternative AWS S3 endpoint"
Connect FilePulse should allow to configure an alternative Endpoint for AWS S3 so that it could be used with third-party solutions likes Minio (https://docs.min.io/docs/how-to-use-aws-sdk-for-java-with-minio-server.html)

[2021-09-04 12:03] #172 closed

[2021-09-04 12:32] #165 closed

[2021-09-06 07:53] fhussonnois commented on #171
Hi @mohai-kafka, I've found that the filter only computes  the schema based on the first line.
I released Connect FilePulse 2.4.0 that fixes that issue.

[2021-09-06 07:58] fhussonnois commented on #128
Hi @Redanski,

I released Connect FilePulse 2.4.0 which add the new config property `value.connect.schema` which can be used to force a schema : https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/configuration/#defining-connect-record-schema

[2021-09-06 09:21] Redanski commented on #128
Hey @fhussonnois,

thanks for the fast reply and solution!
I really did not expect that, so your work is appreciated.

I was wondering, since that is not obvious from the documentation, in what format should the string be supplied?
Single line escaped JSON?
I assume you cannot put a file reference in?

I will play around with this asap and give you some feedback!

Best Regards

[2021-09-07 01:36] mohai-kafka commented on #171
@fhussonnois Thanks for the response. you mean 2.3.0?

[2021-09-07 08:08] fhussonnois commented on #128
Hi @Redanski, Yes, you should provide the schema as a single escaped JSON string. For the moment, it is not possible to specify a file containing the schema but it is possible in a future release.

[2021-09-07 08:08] fhussonnois commented on #171
Hi @mohai-kafka , Yes 2.3.0 sorry for that mistake ^^.

[2021-09-13 11:15] bksinha4497 opened #173 "File Pulse Connector is installed but getting error that class not found when adding new connector config from postman ."
Installed the connector using :

Added the  pluigin path in connect-avro-standalone config

Verified the connector is loading :

but getting error :

Failed to find any class that implements Connector and which name matches io.streamthoughts.kafka.connect.filepulse.source.FilePulseSourceConnector, available connectors are: PluginDesc{klass=class io.confluent.connect.jdbc.JdbcSinkConnector, name='i

[2021-09-13 14:17] fhussonnois commented on #173
Hi @bksinha4497,

Can you confirm that under the path `/opt/emagine/confluent/confluent-service/share/confluent-hub-components` you have a directory named `streamthoughts-kafka-connect-file-pulse` ?

Also, can you copy paste the output of the following command :

[code]

thanks!

[2021-09-13 14:26] bksinha4497 commented on #173
Hi @fhussonnois
Yes under the directory `/opt/emagine/confluent/confluent-service/share/confluent-hub-components` There is a directory `streamthoughts-kafka-connect-file-pulse`

Here is the output of the command :
`[cloud-user@cvs-autodeploy confluent-hub-components]$ cd /opt/emagine/confluent/confluent-service/share/confluent-hub-components;  ls streamthoughts-kafka-connect-file-pulse/lib/ | grep

[2021-09-13 15:21] fhussonnois commented on #173
Ok, it's surprising that Kafka Connect doesn't find the class  `io.streamthoughts.kafka.connect.filepulse.source.FilePulseSourceConnector` which should be in `kafka-connect-file-pulse-plugin-2.0.0.jar`.

Did you restart the connect-worker after installing the plugin. Then, did you update all the connect-workers (if you are in distributed mode) ?

One more thing, could you confirm me that your work

[2021-09-13 15:28] bksinha4497 commented on #173
yes , I did restart the connect=worker after installing the plugin and its running in stand alone mode .

The worker is configured with  `plugin.path=share/java,/opt/emagine/confluent/confluent-service/share/confluent-hub-components`

[2021-09-14 11:13] fhussonnois opened #174 "Feature: add a new config props to exlude all XML attributes"

[2021-09-14 11:16] fhussonnois opened #175 "Feature: add new config prop to exclude XML attributes in namespaces"

[2021-09-14 11:19] fhussonnois opened #176 "Feature: add a new config prop to specify a prefix that will be used to prepend XML attributes added to a record."

[2021-09-14 17:02] #174 closed

[2021-09-14 17:02] #175 closed

[2021-09-17 01:57] alankan-finocomp opened #177 "`value.connect.schema` is ignored when DelimitedRowFilter is in use"
Hi, I come across with this useful Kafka connector after being disappointed by [Azure Blob Storage Source Connector](https://docs.confluent.io/kafka-connect-azure-blob-storage-source/current/overview.html#az-blob-storage-source-connector-data-formats) which doesn't support CSV file format. Love your fine-grained design providing more control over listing, reading, uniquely identifying files and so

[2021-09-20 04:04] alankan-finocomp opened #178 "Graceful stop of task error, scheduled files are not cleared and therefore block listing file system"
Hi, I have built and installed this connect plugin as of the latest master via confluent-hub install.
However, it stops working and I notice an idle task is created in first place now. However, it fails to be restarted/stopped gracefully with logs as below.
[code]
However, the listing does continue to work **once**. By **once**, I mean it ended with a uncleaned state and stuck catching up other fi

[2021-09-20 08:20] fhussonnois commented on #177
Hi @alankan-finocomp, thank you for your feedback.

The `value.connect.schema` was introduced in FilePulse 2.3 to set a static schema for output records.

Internally, FilePulse infers a dynamic schema for each new record. But, depending on the input data this may lead to  many generated schemas that may be not suitable with the schema-compatibility level configured on your registry. The `value.con

[2021-09-20 14:41] fhussonnois commented on #178
Hi @alankan-finocomp, thank you for opening that issue.

Could you give me more information about it. Did you try to stop/restart the connector using the REST API ?
Also, did you notice any exception on the SourceTask to understand why the graceful stop failed ?

Do you know if the file that was currently scheduled is the same that the one with the status `COMMITTED` in the `connect-file-puse-stat

[2021-09-20 23:46] alankan-finocomp commented on #178
I tried restarting the connector and it picked up another one file and became stuck again with similar errors.

I turned the log level to be info only (as too many noises in debug for Connect docker container itself), the above ones are the only ones around the line

I have only filtered out the logs about config as it makes this thread too verbose.

Not sure how to get that information.

Also, I

[2021-09-20 23:55] alankan-finocomp commented on #177
Thanks. I thought about using `columns` but still the generated schema is with default name which is a bit too generic. My use case is currently to have two connector instances responsible for two kinds of CSVs (i.e. different file name regex, different column headers). I think the generated schema won't be okay from schema registry perspective at some point?

Do you think `merge.value.connect.sch

[2021-09-21 08:08] fhussonnois commented on #178
Hi @alankan-finocomp, thank you I've succeed to reproduce it in local. I will fix that regression issue.

[2021-09-21 12:20] fhussonnois commented on #178
Hi @alankan-finocomp, you can try to rebuild the master branch with the fix for that issue.

[2021-09-21 14:44] ESUBLXX opened #179 "Kafka Connect Pod Not Streaming files from directory"
I have installed the kafka connect helm chart from confluent and installed the file pulse connector to stream the messages simple log file in to the kafka topic.

Below is the Config of the Connector
root@cf-hsnlab-kafka-connect-cp-kafka-connect-66bb7c48f-vjcwh:/tmp/data#  curl http://localhost:8083/connectors/source-log-filepulse-01
{
"name":"source-log-filepulse-01"
,"config":{
"connector.class"

[2021-09-21 16:26] fhussonnois commented on #179
Hi @ESUBLXX, could you tell me the Connect FilePulse version you are using ?

Also, from the logs I've noticed that WARN :

```2021-09-21 14:18:09,670 WARN [FileSystemMonitorThread] File doesn't exist or can't be read: /tmp/data (io.streamthoughts.kafka.connect.filepulse.fs.LocalFSDirectoryListing)```

It seems the connector has failed to access the /tmp/data/ dir

[2021-09-21 16:31] ESUBLXX commented on #179
I am using the below version. Installed the image thru confluent helm chart today.

 kafka-connect-file-pulse:latest

From: Florian Hussonnois ***@***.***>
Sent: Tuesday, September 21, 2021 9:57 PM
To: streamthoughts/kafka-connect-file-pulse ***@***.***>
Cc: L Subramanian ***@***.***>; Mention ***@***.***>
Subject: Re: [streamthoughts/kafka-connect-file-pulse] Kafka Connect Pod Not Streaming files

[2021-09-21 16:57] ESUBLXX commented on #179
Do I need to precreate the internal topic connect-file-pulse-status ? I did not create the topic manually.

[2021-09-21 16:58] ESUBLXX commented on #179
Just checked the topic list, it is created automatically.

[2021-09-21 18:19] kjang1750 opened #180 "Unable to use it on Confluent Cloud"
Hi!

I am having some trouble using the Connector via Confluent Cloud. I tried following the guide here https://rmoff.net/2021/03/26/loading-csv-data-into-confluent-cloud-using-the-filepulse-connector/ but I am still unable to have my connector launched. It works well on my on premise when I launch Kafka on my own computer though. My settings are below.

{
  "config": {
  "connector.class": "io.st

[2021-09-21 19:38] kjang1750 commented on #180
Update: The connector has evolved since Robin Moffet's tutorial. The following configurations will allow these configurations to be deployed

{
  "name": "connect-file-pulse-quickstart-csv",
  "config": {
    "connector.class": "io.streamthoughts.kafka.connect.filepulse.source.FilePulseSourceConnector",
    "tasks.max": "1",
    "fs.listing.class": "io.streamthoughts.kafka.connect.filepulse.fs.Loc

[2021-09-22 00:41] #178 closed

[2021-09-22 14:38] kjang1750 opened #181 "Unable to have it in Running within Azure Blob Storage"
Hey all,

In my File Pulse Connector I have the following configurations. I am using 2.3.0. We use Confluent Cloud and have our Kafka Connect running on Confluent for Kubernetes (CFK). CFK and our Kafka Connect authenticates onto Confluent Cloud.

   "tasks.reader.class": "io.streamthoughts.kafka.connect.filepulse.fs.AzureBlobStorageConfig",
  "fs.listing.class": "io.streamthoughts.kafka.connect.f

[2021-09-23 11:18] vdesabou opened #182 "2.3.0 release: Invalid value io.streamthoughts.kafka.connect.filepulse.fs.AmazonS3FileSystemListing for configuration fs.listing.class"
Since release `2.3.0`, my regression tests are broken, see https://github.com/vdesabou/kafka-docker-playground/issues/1371 with following error:

[code]

The connector config is [there](https://github.com/vdesabou/kafka-docker-playground/blob/6a7dfcd8ec7e6165c057aba797c6025c3aeb8153/connect/connect-filepulse-source/s3-csv.sh#L74), but relevant part is:

[code]

Which seems to be inline with the [d

[2021-09-23 11:35] vdesabou commented on #182
More info:

2.3.0 is downloaded from https://www.confluent.io/hub/streamthoughts/kafka-connect-file-pulse (but looks the same for the zip in https://github.com/streamthoughts/kafka-connect-file-pulse/releases/tag/v2.3.0)

The lib folder only contains:

[code]

whereas version 2.0.0 contained `kafka-connect-filepulse-amazons3-fs-2.0.0.jar:

[code]

[2021-09-23 12:23] fhussonnois opened #183 "InMemoryFileObjectStateBackingStore should use a bounded LRU Cache"

[2021-09-23 13:13] #183 closed

[2021-09-23 13:49] kjang1750 commented on #181
Hi  @fhussonnois

I tried making the adjustments but I am still getting an issue with class not found

{
  "config": {
  "connector.class": "io.streamthoughts.kafka.connect.filepulse.source.FilePulseSourceConnector",
   "task.reader.class": "io.streamthoughts.kafka.connect.filepulse.fs.reader.AzureBlobStorageRowFileInputReader",
  "fs.listing.class": "io.streamthoughts.kafka.connect.filepulse.fs.A

[2021-09-23 17:10] kjang1750 commented on #181
Update: I used two "docker-compose.yml" files. On one instance, I was able to create an Azure Connector while on the other instance, I had the same issue as seen above.

When using the confluent-hub to install plugins listed below, I am unable to create an Azure Connector with the class not being found below

"message": "Connector configuration is invalid and contains the following 2 error(s):\nIn

[2021-09-23 20:01] fhussonnois commented on #181
Hi @kjang1750, it seems that connect file 2.3 available on confluent-hub does not contain the extension for Azure and other could providers, see : https://github.com/streamthoughts/kafka-connect-file-pulse/issues/182

This will be fixed in next version (2.4) that should be released very soon.

[2021-09-23 21:55] kjang1750 commented on #181
Awesome sounds good!!! Thanks for letting me know @fhussonnois

[2021-09-26 10:42] sjeandeaux opened #184 "aws - issue: use the wrong value"
Hi,

We are facing an issue using the 2.3.0.

Should it be endpoint instead of url at this following line?

https://github.com/streamthoughts/kafka-connect-file-pulse/blob/d76bac0ed61dc9d727160d63ac019fcc86f61cd9/connect-file-pulse-filesystems/filepulse-amazons3-fs/src/main/java/io/streamthoughts/kafka/connect/filepulse/fs/AmazonS3ClientUtils.java#L75

[2021-09-26 16:55] #176 closed

[2021-09-26 17:01] #184 closed

[2021-09-26 17:02] fhussonnois commented on #184
Thank you very much for this issue, I'm sorry for this regression. The fix will be available in Connect FilePulse 2.4 that should be released next-week.

[2021-09-26 17:03] fhussonnois commented on #180
I close this issue as it has been resolved. Thanks!

[2021-09-26 17:03] #180 closed

[2021-09-26 17:08] kjang1750 commented on #180
Awesome sounds good! Appreciate it :)

[2021-09-29 10:36] ChhatralaNirmal opened #185 "io.streamthoughts.kafka.connect.filepulse.fs.clean.LocalMoveCleanPolicy class not found in 2.3.x version"
Hi!,
As per the documentation steps mentioned [Here](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/archives/v2.3.x/developer-guide/cleaning-completed-files/) ,  when we try to setup LocalMoveCleanPolicy,
We get class not Found exception in 2.3.X latest version.

Where could we find this ?

[2021-09-29 12:09] akhileshacc opened #186 "[v2.3.0] Not able to read files properly"
version: 2.3.0
kafka-connect version: 6.2.0
kafka version: 6.2.0
zookeeper version: 6.2.0

I started a simple connector which reads text files from certain folder.

[code]

It reads first file fine, but after that shows this on logs
[code]

Seems like it has not compelted that first file, although in filepulse-status topic, it seems to have updated all stages on file processing

[code]

What I may

[2021-09-30 18:44] fhussonnois commented on #185
Hi @ChhatralaNirmal, the Connect FilePulse 2.3 deployed on confluent-hub seems to be broken. v2.4 will be released very soon. My apologies for this issue.

[2021-10-02 14:49] fhussonnois opened #187 "equals SCeL expression : java.lang.UnsupportedOperationException: Cannot convert an object to type NULL"
the `equals` SCeL expression fails when one of the given argument is null

[code]

[2021-10-02 15:16] #187 closed

[2021-10-04 21:36] sscots opened #188 "Can't access value from another 3rd party transformation"
I'm trying to create my own field from the header using this package:
https://jcustenborder.github.io/kafka-connect-documentation/projects/kafka-connect-transform-common/transformations/examples/HeaderToField.headertofield.html

`transforms.AppendServer.type=com.github.jcustenborder.kafka.connect.transform.common.HeaderToField$Value
transforms.AppendServer.header.mappings=connect.hostname:STRING:s

[2021-10-05 08:28] fhussonnois commented on #188
Hi @sscots, Connect Transfomers are executed internally by the Kafka Connect framework so after the filter-chain of Connect FilePulse.

[2021-10-05 20:38] #144 closed

[2021-10-06 12:04] fhussonnois commented on #182
Hi @vdesabou, thank you very for reporting that issue.

There was an error in the packaging of version 2.3.0. Connect FilePulse 2.4 was released but this new version is not available on conflunet-hub yet.

[2021-10-08 15:56] fhussonnois opened #189 "SCEL doest not support dotted-notation for Map object"
For example, using the following expression `{{ $system.env.MY_ENV_VAR }}` will throw an exception:
[code]

[2021-10-13 22:23] shabadsobti opened #190 "Failed to check if blob exists for uri - GCS"
Trying to read a file from Google Cloud Storage, and facing this error

`io.streamthoughts.kafka.connect.filepulse.errors.ConnectFilePulseException: Failed to check if Blob exists for uri: gcs://ingestion_files/renewals/operations_renewalaccounts.csv
at io.streamthoughts.kafka.connect.filepulse.fs.GcsStorage.exists(GcsStorage.java:80)
at io.streamthoughts.kafka.connect.filepulse.reader.StorageAwar

[2021-10-15 14:55] fhussonnois commented on #182
Hi @vdesabou, well, I've sent an email to the Confluent-Hub team 10 days ago to ask them to publish the new release but still no feedback... :)

[2021-10-15 20:50] #190 closed, assigned to nobody

[2021-10-18 14:33] ganesanradhika opened #191 "Unable to find documentation for Kerberos authentication"
Hi,

I am unable to find the configuration details to connect to Kafka topics with Kerberos authentication.

Any assistance in this regard is appreciated.

Thanks and Regards

[2021-10-21 12:02] fhussonnois opened #192 "Bump the version of the docker base-image for kafka-connect"

[2021-10-21 12:03] fhussonnois opened #193 "Bug: Invalid object-file are not reported as invalid"
https://github.com/streamthoughts/kafka-connect-file-pulse/blob/333e1ee3dd0f6fdac131d3f6156fb31183d1812c/connect-file-pulse-plugin/src/main/java/io/streamthoughts/kafka/connect/filepulse/source/DefaultFileRecordsPollingConsumer.java#L115

[2021-10-21 12:06] #192 closed

[2021-10-21 12:06] #193 closed, assigned to nobody

[2021-10-21 12:15] fhussonnois opened #194 "Connector should cleanup all completed file before starting any task"

[2021-10-21 12:17] #194 closed, assigned to nobody

[2021-10-21 12:27] fhussonnois commented on #177
Hi @alankan-finocomp, Connect FilePulse 2.4 is now available on [confluent-hub](https://www.confluent.io/hub/streamthoughts/kafka-connect-file-pulse) you shoud consider using that new version to test the new `merge.value.connect.schemas` property.

Please consider closing this issue if your problem is solved! Thanks

[2021-10-21 21:50] sscots commented on #173
Having the same issue. It worked on version 1.6.3, then moved to 2.0.0 and started getting this error.

[2021-10-22 14:25] Redanski opened #195 "Schedule new files while task is not completed."
Hello i have the following current setup folder `files` which contains between 1-2 files.
New files might get created, if they get created they should be added to the currently processed files immediately.
Older files should be watched continuously or indefinitely because there will be new lines added to this file.

New files are only scheduled if the currently processed file has been marked as co

[2021-11-02 07:48] an0nz commented on #185
The documentation for this appears to be wrong for this class as I had to take a look in the code to find the correct name.

The correct working class I found for 2.4 from confluent hub is
io.streamthoughts.kafka.connect.filepulse.fs.clean.LocalMove**Cleanup**Policy

[2021-11-02 22:00] an0nz opened #196 "LocalFSDirectoryListing input/output error on directories with large file counts"
### Overview
I have been testing file-pulse 2.4 as an option to process XML Call Detail Records (CDR's) for a number of voice servers, where each server produces around 350,000 files per day.

As the number of files in the source directory increase, file-pulse takes longer and longer to scan the directory before processing files. When the source directory has 70,000 or more files in it and I/O err

[2021-11-03 09:49] fhussonnois commented on #196
Hi @an0nz, thank you very much for opening this issue.

I'm not very sure if that exception is due to the connector. Usually, a `java.nio.file.FileSystemException: *******: Input/output error` indicates a problem in storage, e.g. no space left, too many open files in system

Could you check the syslog and dmesg to see if the Linux kernel is reporting any underlying problems with your disk ?

[2021-11-03 12:01] cgaege commented on #173
Hi @fhussonnois,

I'm having the same issue. I installed FilePulse 2.4 in a custom Kafka `connect` 2.8.1 docker image using `confluent-hub`:

[code]
But the connector plugin is not listed (after a restart of the `connect` container):

`curl http://connect:8085/connector-plugins | grep FilePulseSourceConnector `

`Plugin.path` in `/opt/kafka/config/connect-distributed.properties` seems to be OK:

`

[2021-11-03 16:41] fhussonnois commented on #173
Hi @cgaege, are you using a confluent base image ? Can you plese check the `plugin.path` property which is logged by the worker when starting ? Maybe there is something related to this issue : https://github.com/confluentinc/cp-docker-images/issues/818 ?

[2021-11-04 08:41] cgaege commented on #173
Hi @fhussonnois, actually I'm using self-made Kafka images, based on openjdk and Kafka Connect 2.8.1. We added some of the confluent tooling (like the `confluent-hub-client`) to the `connect` container to simplify the installation of our self-developed connect plugins. Other connect plugins like the [JDBC source connector](https://docs.confluent.io/kafka-connect-jdbc/current/index.html) are workin

[2021-11-04 10:45] fhussonnois commented on #195
Hi @Redanski, I'm not sure Connect FilePulse is the right solution if you have a constantly growing number of files to process. Because, a ConnectTask needs to complete a file before moving to the next one. So, you should always make sure that you have as many tasks as files to process...not sure this is suitable with the Kafka Connect architecture.

But if the files end up being considered comple

[2021-11-04 11:17] Redanski commented on #195
Hey thank you for your feedback.
Using the properties in your previous post, would work in theory.

But we ultimately moved to a different solution after consulting our internal IT Team, we will use their fluentbit with the respective kafka connector.

[2021-11-08 21:34] an0nz commented on #196
Hi @fhussonnois, there are no errors in dmesg or syslog, this is not a production setup in that it is a docker container in a HyperV VM on Windows 10 so it is possible something else is going on, the slowly degrading performance as the file count increased seemed to fit the way the max.scheduled.files logic was implemented but you may be correct in regards to the issue when hitting 70k files.

I w

[2021-11-09 03:12] an0nz commented on #196
Thanks for the response @fhussonnois, after running it up on an Ubuntu 20.04 server in our VMware cluster with the same volume mount setup I tested out to 450,000 files without issue and they processed much faster.
Must have been something to do with the VM running on my machine.

[2021-11-09 03:12] #196 closed

[2021-11-12 08:47] dayawansha opened #197 "how to run Kafka-connect-file-pulse without schema registry and Zookeeper"
Hi Guys,

I need to run Kafka-connect-file-pulse without schema registry and Zookeeper for our requirement.
Is it possible? If yes, how? (I am expecting the docker-compose file configurations)
Any assistance in this regard is appreciated.

Thanks and Regards
Dusman

[2021-11-12 19:50] #166 closed

[2021-11-15 16:11] kbegrow opened #198 "ERROR Failed to initialized a new iterator for object file"
Hi @fhussonnois

I'm facing an issue with a pretty simple csv file which is encoded as utf-8.
I wonder where this comes from, the file is definitely encoded in utf-8:
[code]
Error:
[code]

CSV:
[code]

The connector is configured with encoding UTF_8
Connector Version is 2.2.0

Do you have any idea?

[2021-11-15 16:42] kbegrow commented on #198
found the reason. ticket is closed

[2021-11-15 16:42] #198 closed

[2021-11-16 13:52] muchemiphilip commented on #197
@dayawansha I think this Blog from Robin Moffat will be of help : https://rmoff.net/2021/03/26/loading-csv-data-into-confluent-cloud-using-the-filepulse-connector/

[2021-11-17 16:11] dayawansha commented on #197
Thanks for the suggestion, But I was expecting it with documentation.

[2021-11-18 06:35] muchemiphilip commented on #173
I'm also having the same issue.
Has anyone solved this error?
If so, kindly assist me.

[2021-11-18 16:05] cgaege commented on #173
@muchemiphilip I was not able to solve the issue

[2021-11-19 10:29] fhussonnois commented on #173
Hi @muchemiphilip, could you please share some information about your running environment:

* Connect FilePulse version: ???
* Kafka Connect version: ???
* Plugin Installation mode: ???
** i.e., confluent-hub, confluent-cli with a zip tarball, manual installation (i.e. plugin is manually unzip and install on the connect-workers).

Below is a checklist you can use to ensure that ConnectFilePulse is

[2021-11-20 14:03] #128 closed

[2021-11-20 14:03] #171 closed

[2021-11-22 13:38] dayawansha commented on #197
I was able to fix this without using the "Kafka-connect-file-pulse" configuration.

[KIP-500](https://cwiki.apache.org/confluence/display/KAFKA/KIP-500%3A+Replace+ZooKeeper+with+a+Self-Managed+Metadata+Quorum)

[Docker-compose file for KIP-500](https://github.com/confluentinc/cp-all-in-one/blob/6.2.0-post/cp-all-in-one-kraft/docker-compose.yml)

[2021-11-22 13:38] #197 closed

[2021-11-25 08:08] muchemiphilip opened #199 "Timeout Exception"
I am trying to run a self managed Filepulse connector..but once i give filepulse the json configuration i get this warning :
2021-11-25 07:57:48,109 WARN [connector-thread-t24-connect-mt103-01] Failed to create topic '(name=connect-file-pulse-status, numPartitions=default, replicationFactor=default, replicasAssignments=null, configs={cleanup.policy=compact})' (io.streamthoughts.kafka.connect.filep

[2021-11-29 11:42] alankan-finocomp opened #200 "Bug: Azure SDK adds a redundant slash in URL"
Hi! Just spotted a bug from Azure SDK and I got this simple unit test to reproduce the issue:
[code]
I have also tested v12.14.2  can fix that issue:
[code]

If it makes sense to you about this upgrade also, I hope that's not rude, any plan to release a new version soon?

[2021-11-30 10:09] fhussonnois commented on #200
Hi @alankan-finocomp, thank you for opening this issue. Could you please provide a Pull Request (PR) with the version updated ?

I think, it should be possible de release a new version this week.

Thank you very much.

[2021-12-01 05:50] alankan-finocomp commented on #200
Thanks @fhussonnois . I cannot assign reviewer there :man_shrugging: . Please have a look when you have time :arrow_up: Thanks again :bow:

[2021-12-01 16:03] Vladislaff opened #202 "Json parse issue"
Hi,

I am having an issue when parsing json with arrays of arrays.
The data is lost after parsing.

Please see attached:
[payload_jsonl.txt](https://github.com/streamthoughts/kafka-connect-file-pulse/files/7635379/payload_jsonl.txt) - input file (4 lines. separate json object per line)
[messages_issue_test_1.txt](https://github.com/streamthoughts/kafka-connect-file-pulse/files/7635378/messages_iss

[2021-12-03 01:27] alankan-finocomp opened #203 "Documentation about pass-through consumer/producer security config"
Hi, I found the most recent [tutorial article](https://rmoff.net/2021/03/26/loading-csv-data-into-confluent-cloud-using-the-filepulse-connector/) suggested:

Apart from version difference (`internal.kafka.reporter.` but not `tasks.file.status.storage.`), personally I am really surprised it's not documented around the KafkaFileObjectStateBackingStore section in [configuration page](https://streamth

[2021-12-03 18:04] akhileshacc commented on #186
2.4.0 worked fine. Thanks.

[2021-12-03 18:04] #186 closed

[2021-12-04 13:52] fhussonnois commented on #202
Hi @Vladislaff, I will try to reproduce your issue. For now, everything seems to be working while parsing local file. Here is the schema generated by the connector : [schema.json.txt](https://github.com/streamthoughts/kafka-connect-file-pulse/files/7654028/schema.json.txt)...I will do further investigations.

[2021-12-04 14:03] fhussonnois commented on #199
Hi @muchemiphilip, it seems the connector failed to create the internal topic `connect-file-pulse-status` for an unknown reason. Could you try to create this topic manually ?

[2021-12-04 15:09] Vladislaff commented on #202
Hi, I am using 2.4.0 from Confluent Hub.
Sending rows directly into Kafka via a producer works (without this connector).

The attached generated schema does not seem to be correct.
VAL3 is lost, COL2 through COL8 in the embedded GRID are also lost.
If I use an online tool to generate the schema (for example, https://toolslick.com/generation/metadata/avro-schema-from-json) it gives me a completely

[2021-12-04 17:55] #179 closed

[2021-12-06 02:43] muchemiphilip commented on #199
@fhussonnois Thank you for reaching out but I tried to ingest the files in a local Confluent Platform instead of Confluent cloud .The connector is able  to list object files using: LocalFSDirectoryListing and it manages to get the 4 files in my directory but its not writing them to the topic i.e reading each row in a file. The topic is empty.
 Below is my Configurations :
name = source-filepulse-x

[2021-12-06 04:37] alankan-finocomp commented on #203
@fhussonnois Thank you very much! I noticed you've already updated the docs. Cheers!

[2021-12-06 04:37] #203 closed

[2021-12-06 04:46] alankan-finocomp commented on #200
@fhussonnois Thank you for reviewing and merging the PR. Will it be released this week by any chance? Thanks again for everything including building this useful connector  :+1:

[2021-12-07 00:07] #181 closed

[2021-12-09 08:26] fhussonnois commented on #202
Hi @Vladislaff, ok I got it! Unfortunatly, Kafka Connect does not support UNION with multiple types, so this is a limitation of the framework not FilePulse.

However, some columns are lost because FilePulse only uses the first record of an Array to infer the value-schema. I could provide a fix for by merging all fields from all records in the array but this will not solve the problem because in yo

[2021-12-09 09:17] Vladislaff commented on #202
Hi, Thank you.
How can I send the raw line without parsing?
As I understand the ByteArray reader reads in the full file. How can I use the Row reader to read strings (or bytearrays)?

[2021-12-10 06:24] ayumin commented on #173
I had similar problem with Java 8, however it looks work well on Java 11.

[2021-12-13 12:46] fhussonnois commented on #202
Hi @Vladislaff, don't use the `JSONFilter` so you will have one record per line containing a field `message` with the raw JSON. Then, you should be able to use the [`AppendFilter`](https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/filters/#appendfilter) to move that field to the top level

[2021-12-13 12:47] fhussonnois commented on #200
Hi @alankan-finocomp, Connect FilePulse 2.4.1 is released. The connector should be available to confluent-hub in a couple of days.

[2021-12-13 12:50] fhussonnois commented on #199
Hi @muchemiphilip, do you have any exception ? Could you check the content of the `connect-file-pulse-status` topic ?

[2021-12-13 14:39] ikemeneghetti opened #207 "Unsupported node type '10'"
Hi! First of all, thanks for maintaining this awesome plugin.

I'm getting "Unsupported node type 10" error when I try to read xml records in the following format:

[code]

Error output:

[code]

**As expected, when I remove the DOCTYPE line, the record is processed normally.**
I would like to be able to process these files without having to remove the DOCTYPE. I don't need to do any xml validatio

[2021-12-13 15:54] fhussonnois commented on #207
Hi @ikemeneghetti, thank you for opening this issue, I will investigate on it. Here is the documentation about the XML reader : https://streamthoughts.github.io/kafka-connect-file-pulse/docs/developer-guide/file-readers/#xxxxmlfileinputreader

You can configure an XPATH using the property `reader.xpath.expression` . Also, by default XML validation is not enabled.

[2021-12-13 16:17] fhussonnois commented on #188
Hi @sscots, this issue has been resolved (https://github.com/streamthoughts/kafka-connect-file-pulse/issues/189). Kafka Connect FilePulse 2.4.1 is now available.

[2021-12-13 16:17] #188 closed

[2021-12-13 16:24] ikemeneghetti commented on #207
Hi! Thanks for the quick response!

I've tried some xpath expressions, but the issue is that I can't get "myCDR" as the root of my record.

I will past an excerpt of the records that I can read from the topic.

**When I remove the DOCTYPE line manually and do not define a xpath expression:**
[code]
**When I let the original xml and use a xpath expression:**
[code]

I tried the following expression

[2021-12-14 16:34] Vladislaff commented on #202
Hi @fhussonnois,
What do I need to put as field to move the value to the top?
<pre>filters.SubstituteFilter.type: io.streamthoughts.kafka.connect.filepulse.filter.AppendFilter
filters.SubstituteFilter.field: <b><i>"$."</i></b>
filters.SubstituteFilter.value: "{{ $.message }}"
</pre>

[2021-12-14 20:00] fhussonnois commented on #202
Hi @fhussonnois, try this one :

[code]

[2021-12-14 21:45] fhussonnois commented on #207
Hi @ikemeneghetti, a fix was push for this issue. You can try it by using the following docker image:

[code]

[2021-12-16 17:48] ikemeneghetti commented on #207
Hi @fhussonnois!

I just got a chance to test the update just now.

Worked perfectly!

I noticed that some WARNs appear in the log, but it doesn't seem to be a problem since the info came up in the topic normally.
I'll put an excerpt of the log just to demonstrate, but the problem can already be considered **solved.**

[code]

Thanks!

[2021-12-16 17:48] #207 closed

[2021-12-16 23:52] alankan-finocomp commented on #200
Awesome @fhussonnois . It works with the mock -  Azurite finally! Great work and thanks again!! :bow:
Closing this issue as well~

[2021-12-16 23:52] #200 closed

[2021-12-17 21:39] ikemeneghetti opened #208 "StackOverflowError while reading large XML Files"
Hi! I'm getting a exception when trying to process large xml records.

The basic structure of the record is the following:

[code]
A single record can contain many cdrData structures.

The file I tested and got the error has 14MB, 356354 lines and 6378 cdrData inside.
Smaller files can be consumed normally.

The error:
[code]
I shortened the log a little, because these two lines (SimpleSchema and

[2021-12-20 17:50] dmarupov opened #209 "Connect File Pulse plugin is not loading"
I am trying to install `filepilse-2.4.1` but not getting the plugin loaded.
I am using a Centos which is a unix OS. Also if it matters I am using a vanilla Kafka. Not a Confluent Platform and Not a Docker.

What I have done:
1. I have downloaded the zip file from github for version 2.4.1.
2. Unzipped the `filepuse-2.4.1`. and added the path to my `connect.properties` file like so:
    `plugin.path

[2021-12-22 15:08] ikemeneghetti commented on #209
Hi!

What version of jdk are you using?

I had a similar problem when using jdk8 and the latest plugin version. Version 1.4 was successfully loaded. You can try loading version 1.4 as a test.

The latest version of the plugin only worked here when I migrated to a strimzi image with jdk11.

[2021-12-22 15:50] dmarupov commented on #209
I am using openjdk version `1.8.0_312`

[2021-12-22 16:06] fhussonnois commented on #209
Hi @dmarupov, this issue is due to java version . Could you please update to JDK 11 ?

Also, you should note that the JDK 1.8 is deprecated since Apache Kafka 3.0 -https://issues.apache.org/jira/browse/KAFKA-12929).

[2021-12-22 16:21] dmarupov commented on #209
@fhussonnois ,

Thank you, I will update the Java and test it.

[2021-12-22 17:10] slachiewicz commented on #209
1. Please create dedicated directory for plugins (ie `/usr/share/confluent-hub-components`)
2. create new subdirectory `streamthoughts-kafka-connect-file-pulse`
3. unzip connector to the above directory
4. Modify kafka-connect settings to include path to plugins to include parent path

[code]

[code]

Then start Connect and check logs - You should be able to see something like
[code]

[2021-12-22 17:12] dmarupov commented on #209
Just an update: after updating the Java version to 11 I am able to see the FilePulse plugin now.
Thank you all for the help.

[2021-12-22 17:24] slachiewicz commented on #208
Can you also share something about your configuration?

[2021-12-23 21:36] #209 closed

[2021-12-27 16:00] dmarupov opened #212 "Error creating Connector: Failed to transition connector FilePulseMain to state STARTED"
I am getting the following error when I try to create a File Pulse connector:

[code]

I am using FilePulse version 2.4.1
Java version: openjdk version "11.0.13"
My connector configurations are as follows:
[code]

I had similar configuration with FilePulse version 1.6.
With the newer version of FilePulse, I wonder if I am missing something. I would appreciate any guidance on this to solve this iss

[2021-12-28 22:14] ikemeneghetti commented on #208
Hi!

My connector config:
[code]

On the kafka-connect configs:
[code]

Kafka-cluster:
[code]

If I do not set the kafka-connect producer.max.request.size, I get the following error:
[code]

And if I set it with the described values, I get the StackOverflowError error.

[2022-01-03 14:46] #191 closed

[2022-01-03 14:46] #177 closed

[2022-01-04 01:02] alankan-finocomp commented on #177
Sorry overlooked the message. Happy to have it closed!

[2022-01-05 23:40] mohai-kafka opened #213 "log4j vulnerability"
Team,

We are using 2.4.0 version and my security team identified 2.4.0 is using log4j-1.2.17.jar and JMSAppender class. Is Log4J "Log4Shell" Zero-Day Vulnerability effected this version?

[2022-01-06 00:49] slachiewicz commented on #213
See here: https://logging.apache.org/log4j/2.x/

[2022-01-06 13:07] fhussonnois commented on #213
Hi @mohai-kafka,

FilePulse depends on Kafka and Kafka Connect librariries which use log4j 1.2.17.jar. which is not direcly affected by the CVE. You can refer to this official documentation:  https://kafka.apache.org/cve-list

If you install FilePulse from zip distribution (or confluent-hub) you can remove the JMSAppender using the commands described in https://www.slf4j.org/log4shell.html

[2022-01-06 13:15] mohai-kafka commented on #213
@fhussonnois thanks. One basic question is we are using lot of other Confluent connectors and they also yawing same log4j version. When my security team scan all the directory it is not found JMSAppender class in any other log4j folder except file pulse lib folder. Question is

mother connectors removed JMSAppender.class when they package the zip?

[2022-01-06 13:56] fhussonnois commented on #213
The Connect FilePulse /lib directory do contains the log4J-1.2.17.jar that contains the JMSAppender.
But for example, the confluent-jdbc-connector doesn't directly contains this JAR. which is in any case already provided by Kafka Connect (workers).

So I think this is due to a bad configuration of the maven project dependencies.
It should be safe to remove the log4j jar from the connect-file-pulse

[2022-01-06 14:55] fhussonnois commented on #208
Hi @ikemeneghetti,

I check the code and there is potentially an issue that could lead to this StackOverflowError. The connect attempt to merge a Struct Schema with a Primitive Schema which is not possible because kafka Connect doesn't support Union.

Could you check your file to see if a field has a type change?

[2022-01-06 21:01] ikemeneghetti commented on #208
Hi @fhussonnois!

I changed some configurations on my connector. Now I am getting all the cdrData into an array and using the Explode Filter to get many cdrData records from one XML file.

After your answer, I decided to make a test file with a cdrData that I know that can be processed. I took this cdrData and made a xml file with thousands of it. The final file had 22MB and could be processed. So

[2022-01-07 21:15] sponge-b0b opened #215 "Parquet FileInputReader"
Team,

Is there a roadmap for additional file readers like a Parquet file reader?

Thanks.

[2022-01-11 09:56] fhussonnois commented on #215
Hi @sponge-b0b, currently there is no roadmap for adding a Parquet file reader. I would like to invite you to contribute to the project if you are interested.

Thanks

[2022-01-12 09:08] fhussonnois commented on #212
Hi @dmarupov,

Some connector's config properties has changed since 2.x version.

* Replace `internal.kafka.reporter.bootstrap.servers` with  `tasks.file.status.storage.bootstrap.servers`
* Replace `offset.strategy` with `offset.attributes.string`

This should be OK after that.

[2022-01-13 18:09] serioja opened #216 "Is there a way to identify when the last row of a CSV file is consumed?"
In some case I want to wait to have all the rows of the files to run some action (for example build a dataframe using the full CSV).
I tried to use the internal.kafka.reporter.topic but I can get a COMPLETED status before receiving the last row.